/* -------------------------------- *\
    Love Button

    Component: love-action
    Elements:
    * love
    * text-action (lovecount)
    variants
    * -fullwidth

    Component: table-heading
    Elements:

    Component: table-content
    Elements:
    -
\* -------------------------------- */

.follow-action {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    float: right;
    text-align: right;
    .icon-heart { font-size: 15px;}
    .ico-follow {
        position: absolute;
        left: 0;
        top: 3px;
    }
    .icon-plus {
        font-size: 11px !important;
        top: -11px;
        margin-left: -8px;
    }
}

.follow-section {
    .text-action {
        &:hover, &:active, &:focus, &.active {
            color: #333;
            text-decoration: underline;
        }
    }
}

.ico-follow.following {
    .icon-users-follow { color: $color-pink; }
}





/* -------------------------------------- *\
         Hover panel (love-action)
\* -------------------------------------- */

.love-action .love {
    &:hover,
    &:focus,
    &.active {
        text-decoration: none;
        color: $main-color;
    }
}

.love-action {
    width: 47%;
    display: inline-block;
    .icon-heart {font-size: 17px;}
}

.love-action {
    &.-fullwidth {
        width: 100%;
        padding: 10px 15px;
        border-top: 1px solid #B5B5B6;
    }
}





/* -------------------------------------- *\
         Hover panel (follow-action)
\* -------------------------------------- */

.follow-action .ico-follow {
    &:hover,
    &:focus,
    &.active {
        text-decoration: none;
        color: $main-color;
    }
    .icon-users-follow {
        font-size: 18px;
    }
}





/* -------------------------------------- *\
     Activities Button (Love, Follow)
\* -------------------------------------- */

.btn-activity {
    width: auto;
    height: auto;
    display: inline-block;
    background-color: transparent;
    color: #FFFFFF;
    &:hover, 
    &:hover .ico-action, 
    &:focus {
        // color: $color-loved;
        color: $main-color;
        text-decoration: none;
        width: auto;
        height: auto;
    }
    .icostartup {
        height: 33px;
    }
}

.ico-action {
    display: block;
    font-size: 30px;
    color: #555;
    margin: 0 auto;
    height: 30px;
    @include box-sizing(border-box);
}

@media (max-width: $screen-xs-max) {
    .ico-follow-wrapper .icon-user2 { margin-left: 0; }
}

.ico-follow { text-align: center; }
.following {
    color: $color-loved;
    .ico-action { color: $color-loved; }
}

.hover-action {
    .ico-follow-wrapper {
        height: auto;
        .ico-action { font-size: 14px; }
    }
}





/* -------------------------------------- *\
     Activities Button (Love)
\* -------------------------------------- */

.action-panel {
    .icostartup {
        display: block;
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
        color: #fff;
    }
}

.ico-love {
    width: 42px;
    text-align: center;
    &.loved {
        .icon-heart:before {
            content: '\e90d';
        }
    }
}





/* -------------------------------------- *\
     Activities Button (Follow)
\* -------------------------------------- */

.icon-users-follow:before {
    content: '\e901';
}






/* -------------------------------------- *\
    Activities Button (Contact)
\* -------------------------------------- */

.btn-activity {
    .icon-contact {
        font-size: 23px;
        width: auto;
        margin: -5px 0 5px;
    }
    .icon-contact:before {
        position: relative;
        top: 6px;
    }
}





/* -------------------------------------- *\
    Activities Button on table
\* -------------------------------------- */

.action-panel.-oneline {
    .love-action  {
        position: relative;
        padding-left: 25px;
        display: inline-block;
        float: right;
        text-align: right;
    }
    .love-action .love {
        position: absolute;
        left: 0;
        top: 2px;
    }
    .love-action .icostartup {
        font-size: 17px;
    }
}





/* -------------------------------- *\
.action-panel
    .take-action-wrapper
        .btn-activity .ico-love (loved)
            .icostartup .icon-heart
            .text-action
        .btn-activity .ico-follow (following)
            .ico-follow-wrapper
                .icostartup .icon-users-follow
            .text-action
        .btn-activity
            .icostartup .icon-contract
            .text-action
\* -------------------------------- */

.action-panel {
    .take-action-wrapper {
        width: 65px;
        text-align: center;

        // idle state
        .btn-activity {
            .icostartup:before,
            .icon-users-follow:before,
            .text-action {
                color: #FFFFFF;
            }
        }

        // hover state
        .btn-activity {
            &.loved, &.following,
            &:hover, &:focus, &:active {
                .icostartup:before,
                .icon-users-follow:before,
                .text-action {
                    color: $main-color;
                    cursor: pointer;
                }
            }
        }
    }
}