.notification-item-inner {
    padding: 0 180px 0 60px;
    display: block;
    @extend .kanit-regular;
    strong { font-weight: 100;}
}
.notification-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.notification-item {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0;
    .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        font-size: 21px;
        margin-top: -12px;
    }
    .date {
        font-size: 12px;
        display: block;
    }
    .date:before {
        content: '\2014\00a0';
    }
    &.unread { 
        background-color: #f8f8f8;
    }
}

@media (max-width: $screen-xs-max) {
    .notification-item {
        padding: 10px 0;
        .icon  {
            left: 5px;
        }
    }
}

.block-request {
    clear: both;
    .notification-item-inner { padding-left: 0;}
    .required-approval { position: static; display: inline-block;}
    .btn-approve-wrapper { margin: 0;}
}

.btn-approve-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17.5px;
    .btn { font-size: 12px;}
}

@media (max-width: $screen-xs-max) {
    .notification-item .date {
        display: block;
        &:before { content: none;}
    }
    .btn-approve-wrapper {
        position: relative;
        margin: 10px 0 10px 45px;
    }
    .notification-item-inner {
        padding: 0 0 0px 45px;
    }
}