{% load i18n %}
{% if request.GET.next %}
    <a href="{% url 'login_social' 'facebook' %}?{{ request.GET.urlencode }}" class="btn btn-primary btn-lg btn-block btn-facebook" type="button"><span class="icon-facebook"></span>{% trans "Connect with" %} Facebook</a>
    <a href="{% url 'login_social' 'linkedin' %}?{{ request.GET.urlencode }}" class="btn btn-primary btn-lg btn-block btn-linkedin" type="button"><span class="icon-linkedin"></span>{% trans "Connect with" %} LinkedIn</a>
    <form class="form-signin" role="form" method="post" action="{% url 'account_login' %}?{{ request.GET.urlencode }}" ng-non-bindable>
{% else %}
    <a href="{% url 'login_social' 'facebook' %}?next={{ request.path }}" class="btn btn-primary btn-lg btn-block btn-facebook" type="button"><span class="icon-facebook"></span>{% trans "Connect with" %} Facebook</a>
    <a href="{% url 'login_social' 'linkedin' %}?next={{ request.path }}" class="btn btn-primary btn-lg btn-block btn-linkedin" type="button"><span class="icon-linkedin"></span>{% trans "Connect with" %} LinkedIn</a>
    <form class="form-signin" role="form" method="post" action="{% url 'account_login' %}?next={{ request.path }}" ng-non-bindable>
{% endif %}
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="form-group">
        <label for="login-id_email">{% trans "Email Address" %}</label>
        <input id="login-id_email" name="email" type="text" class="form-control first" placeholder="{% trans "Enter your email address or username" %}" value="{{ form.email.value|default_if_none:"" }}" autofocus>
        {% if form.email.errors %}
        <div class="errors alert alert-danger">{{ form.email.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="login-id_password">Password</label>
        <input id="login-id_password" name="password" type="password" class="form-control last" placeholder="{% trans "Password" %}" required>
        {% if form.password.errors %}
        <div class="errors alert alert-danger">{{ form.password.errors }}</div>
        {% endif %}

    </div>

    <div class="controls">
        {% if display_cancel %}
        <a onclick="$('#modal-login, #modal-register').modal('hide')" class="link-reset-password pull-right" href="#" data-target="#modal-password-reset" data-toggle="modal">{% trans "Forgot your password ?" %}</a>
        {% else %}
        <a class="link-reset-password pull-right" href="{% url 'account_reset_password' %}?{{ request.GET.urlencode }}">{% trans "Forgot your password ?" %}</a>
        {% endif %}
    </div>

    <div class="form-action btn-wrapper">
        {% if display_cancel %}
        <button class="btn btn-primary btn-lg btn-orange" type="submit">{% trans 'Log in' %}</button>
        <button class="btn btn-default btn-lg btn-cancel" data-dismiss="modal" type="button">{% trans 'Cancel' %}</button>
        {% else %}
        <button class="btn btn-primary btn-lg btn-block btn-orange" type="submit">{% trans 'Log in' %}</button>
        {% endif %}
    </div>
</form>
<div class="link-footer text-center">
    {% if display_cancel %}
    <a onclick="$('#modal-login, #modal-password-reset').modal('hide')" class="link-signup" href="#" data-target="#modal-register" data-toggle="modal">{%trans "Don't have an account?" %}</a>
    {% else %}
    <a class="link-signup" href="{% url 'account_register' %}?{{ request.GET.urlencode }}">{%trans "Don't have an account?" %}</a>
    {% endif %}
</div>


