{% load i18n %}
{% load static %}
<div class="footer">
  <div class="container">
    <div class="sponsor-logo"></div>
    <div class="address text-center">
      <span>{% trans 'Startup Thailand Center | National Innovation Agency' %}</span>
      <span class="address__dot"></span>
      <span>{% trans '73/2 Rama VI Road, Rajdhevee, Bangkok 10400' %}</span>
      <span class="address__dot"></span>
      <span>startup@nia.or.th</span>
      <p class="address__copyright mt-3 mb-3">{% trans 'Copyright 2018 All right reserved. Startup Thailand' %}</p>
    </div>
    <div class="contact text-center">
      <p class="contact__title">{% trans 'Contact' %}</p>
      <div class="contact__social">
        <a class="social" href="https://facebook.com/ThailandStartup">
          <span class="social__icon">
            <img src="{% static '/static/images/icon-facebook-white.svg' %}" alt="facebook" width="30">
          </span>
        </a>
        <a class="social" href="https://twitter.com/ThStartup">
          <span class="social__icon">
            <img src="{% static '/static/images/icon-twitter-white.svg' %}" alt="twitter" width="30">
          </span>
        </a>
        <a class="social" href="https://youtube.com/channel/UCy_85vQ6tUvYvNR_B2htuTw">
          <span class="social__icon">
            <img src="{% static '/static/images/icon-youtube-white.svg' %}" alt="youtube" width="30">
          </span>
        </a>
        <a class="social" href="https://www.instagram.com/thailandstartup">
          <span class="social__icon">
            <img src="{% static '/static/images/icon-instagram-white.svg' %}" alt="youtube" width="30">
          </span>
        </a>
        <a class="social" href="https://www.linkedin.com/company/startup-thailand">
          <span class="social__icon">
            <img src="{% static '/static/images/icon-linkedin-white.svg' %}" alt="youtube" width="30">
          </span>
        </a>
      </div>
      {% comment %}
      <a class="contact__link" href="{% url 'term' %}">{% trans "Policy and Privacy" %}</a>
      <a class="contact__link" href="#">{% trans "Help Center" %}</a>
      <a class="contact__link" href="#">{% trans "FAQ" %}</a>
      <a class="contact__link" href="#">{% trans "Sitemap" %}</a>
      {% endcomment %}
    </div>
  </div>
</div>
