{% load i18n %}

<div class="menu">

    <a class="brand-logo" href="{% url 'home' %}">{%  trans "Logo" %}</a>

    <div class="menu__hamburger navbar-header hotfix-hidden">
      <button class="menu__toggle navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button><!-- <a href="/" class="navbar-brand">ImpactConnect</a> -->
    </div>

    <ul class="menu__level-0 hidden-xs hidden-sm list-unstyled hotfix-hidden">
      <li class="menu__item"><a href="{% url 'about' %}">Ecosystem</a></li>
      <li class="menu__item"><a href="{% url 'presentation_role_list_redirect' 'startup' %}">Startup</a></li>
      <li class="menu__item"><a href="{% url 'presentation_role_list_redirect' 'investor' %}">Investor</a></li>
      <li class="menu__item"><a href="{% url 'presentation_role_list_redirect' 'supporter' %}">Supporting Organization</a></li>
      <li class="menu__item"><a href="{% url 'event_list' %}">Event</a></li>
    </ul>

</div>


<div id="block-search" class="block-search -toggle collapse{{ search_class_content }}"{% if request.path != '/search/' %} ng-controller="FilterController" ng-init="init({url: '/api/v1/search/', live: false, successFilterCount: 0, single: true})"{% endif %}>

    <div class="form-wrapper -search">
        <div class="container">
            {% if request.path != '/search/' %}
            <form action="{% url 'search' %}" method="get">
            {% endif %}
                <label class="hidden" for="search-q">{% trans "Search" %}</label>
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                        <input type="hidden" name="ajax" value="1" />
                        <input id="search-q" name="q" type="text" placeholder="{% trans "Search" %}"
                               focus-me="true"
                               ng-model="params.q"
                               ng-keydown="controlQ($event)"
                               class="form-control"
                        />
                    </div>
                    <div class="col-sm-2 col-xs-4 search-btn-wrapper">
                        {% if request.path == '/search/' %}
                        <button class="btn btn-outline -black" ng-click="addFilter('q', params.q, true); submit();">{% trans "Go" %}</button>
                        {% else %}
                        <button class="btn btn-outline -black">{% trans "Go" %}</button>
                        {% endif %}
                    </div>
                </div>
            {% if request.path != '/search/' %}
            </form>
            {% endif %}
        </div>
    </div>
</div>

<nav class="menu__collapse bs-navbar-collapse collapse" role="navigation">
    <div class="row">
        <div class="block-followus pull-left hidden-xs col-sm-2">
            <h2>Connect</h2>
            <a href="https://www.facebook.com/212443462465022/" target="_blank" title="New Economic Warrior on facebook"><span class="icon-facebook icon-social"></span></a>
            <a href="" data-target="#modal-comming-soon" data-toggle="modal" target="_blank" title="New Economic Warrior on twitter"><span class="icon-twitter icon-social"></span></a>
        </div>
        <div class="col-sm-10">
            <ul class="nav navbar-main-menu row">
                <li class="menu-group level-0 col-sm-4">
                    <ul class="menu-group__list list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'presentation_role_list_redirect' 'startup' %}">Startup</a></li>
                        <li><a href="{% url 'presentation_role_list_redirect' 'investor' %}">Investor</a></li>
                        <li><a href="{% url 'presentation_role_list_redirect' 'supporter' %}">Supporting Organization</a></li>

                    </ul>
                </li>
                
                <li class="menu-group level-0 col-sm-3">
                    <ul class="menu-group__list list-unstyled">
                        <li><a href="{% url 'people_list' %}">People</a></li>
                        <li><a href="{% url 'job_list' %}">Job</a></li>
                        <li><a href="{% url 'event_list' %}">Event</a></li>
                        <li><a href="{% url 'news_list' %}">News</a></li>
                    </ul>
                </li>
                <li class="menu-group level-0 col-sm-4">
                    <ul class="menu-group__list list-unstyled">
<!--                         {% for category in ARTICLE_CATEGORIES %}
                        {% if category.permalink != 'news' %}
                        <li><a href="{% url 'article_list' category.permalink %}">{{ category.title }}</a></li>
                        {% endif %}
                        {% endfor %} -->
                        <li><a href="{% url 'organization_type_detail' 'government' %}">Government</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <!--<li><a href="#">Contact Us</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>

        <div class="block-followus __left visible-xs">
            <h2>Connect</h2>
            <a href="https://www.facebook.com/212443462465022/" target="_blank" title="New Economic Warrior on facebook"><span class="icon-facebook icon-social"></span></a>
            <a href="" data-target="#modal-comming-soon" data-toggle="modal" target="_blank" title="New Economic Warrior on twitter"><span class="icon-twitter icon-social"></span></a>
        </div>
    </div>
</nav>