{% extends 'base_single.html' %}
{% load static %}
{% load staticfiles %}

{% block title %}Ecosystem{% endblock %}

{% block description %}
มาร่วมสร้างฐานข้อมูล Startup ไทย ครั้งประวัติศาสตร์ โดยลงทะเบียนที่ลิงก์ {{ SITE_URL }}
{% endblock %}

{% block image %}{% static 'images/startup-share-03.png' %}{% endblock %}

{% block title_class %} site-name _event-title text-center ng-hide{% endblock %}
{% block search_toggle_class %}{% endblock %}
{% block search_class %}{% endblock %}

{% block main_extra %} ng-controller="EventController" class="event-page" {% endblock %}
{% block wrapper_class %} register-landing-page{% endblock %}

{% block js %}
{% include 'ng_snippet_custom.html' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74098762-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block content %}

<div class="register-banner">
  <div class="register-banner__text">STARTUP ECOSYSTEM</div>
  <div class="register-banner__media">
    <img src="{% static 'images/join-the-startup-thailand.png' %}" alt="" class="register-banner__image _mb-30 _mt-15"
    srcset="{% static 'images/join-the-startup-thailand.png' %} 1x, {% static 'images/join-the-startup-thailand@2x.png' %} 2x"/>
  </div>
  <div class="register-banner__lead">The power of strong Startup ecosystem<br />The future of Thailand’s economic growth</div>

  <div class="row">
    <div class="col-xs-12 register-banner__action _pb-30">
      <h3 class="banner__title banner__title--uppercase _white">Create your profile</h3>
      <div style="color: #fff;margin: 0 0 30px; 0">English Only</div>
      <div class="flex-row-sm">
        <div class="_mb-10">
          <a href="/organization/startup/create/" class="register-banner__link">Startup</a>
        </div>
        <div class="_mb-10">
          <a href="/organization/investor/create/" class="register-banner__link">Investor</a>
        </div>
        <div class="_mb-10">
          <a href="/organization/supporter/create/" class="register-banner__link">Supporter</a>
        </div>
      </div>
    </div>
  
    <div class="col-md-offset-1 col-md-10 col-xs-12 register-banner__benefit">

      <h3 class="banner__title banner__title--uppercase _white">Benefits</h3>

      <div class="d-flex _white text-left">
        <div class="col-sm-6 item">
          <div class="inner">
            <div class="icon text-center"><img src="{% static 'images/icon-benefit-1.png' %}" alt="Benefit 1 icon"
              srcset="{% static 'images/icon-benefit-1.png' %} 1x, {% static 'images/icon-benefit-1@2x.png' %} 2x"/></div>
            <div class="info">Eligible for government grants such as NIA Venture fund , Tech Fund and Startup Voucher</div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="inner">
            <div class="icon text-center"><img src="{% static 'images/icon-benefit-5.png' %}" alt="Benefit 2 icon"
              srcset="{% static 'images/icon-benefit-5.png' %} 1x, {% static 'images/icon-benefit-5@2x.png' %} 2x"/></div>
            <div class="info">Eligible for Smart Visa program</div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="inner">
            <div class="icon text-center"><img src="{% static 'images/icon-benefit-2.png' %}" alt="Benefit 3 icon"
              srcset="{% static 'images/icon-benefit-2.png' %} 1x, {% static 'images/icon-benefit-2@2x.png' %} 2x"/></div>
            <div class="info">Access to government  incubator and accelerator programs</div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="inner">
            <div class="icon text-center"><img src="{% static 'images/icon-benefit-3.png' %}" alt="Benefit 4 icon"
              srcset="{% static 'images/icon-benefit-3.png' %} 1x, {% static 'images/icon-benefit-3@2x.png' %} 2x"/></div>
            <div class="info">Be featured on both online and offline contents of Startup Thailand</div>
          </div>
        </div>
        <div class="col-sm-6 item">
          <div class="inner">
            <div class="icon text-center"><img src="{% static 'images/icon-benefit-4.png' %}" alt="Benefit 5 icon"
              srcset="{% static 'images/icon-benefit-4.png' %} 1x, {% static 'images/icon-benefit-4@2x.png' %} 2x"/></div>
            <div class="info">Receive support to expand to global markets</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}
