{% extends 'base_sidebar_left.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Privacy policy" %}{% endblock %}
{% block title_class %} hidden{% endblock %}
{% block search_toggle_class %}{% endblock %}
{% block search_class %}{% endblock %}
{% block wrapper_class %} -list {% endblock %}

{% block js %}
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-2 block-filter-msg">
        <h1 class="page-title">{% trans "Terms" %}</h1>
        <ul class="no-bullet filter-messages" role="tablist">
            <li class="item" role="presentation">
                <a href="{% url 'term' %}">
                    {% trans "Term of use" %}
                </a>
            </li>
            <li class="item active">
                <a href="{% url 'privacy' %}">
                    {% trans "Privacy policy" %}
                </a>
            </li>
        </ul>
    </div>
</div>
    
{% endblock%}

{% block content %}

<h2 class="title">{% trans "Privacy policy" %}</h2>

<p>
   โครงการฯ จะใช้ความพยายามอย่างดีที่สุดที่จะคุ้มครองข้อมูลส่วนบุคคล โครงการฯ ได้ใช้ระบบรักษาความปลอดภัยที่ได้มาตรฐานระดับสากล เพื่อคุ้มครองข้อมูลดังกล่าว อย่างไรก็ตาม เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่าน ท่านต้องปฏิบัติตามข้อกำหนด และเงื่อนไขการใช้บริการโดยเคร่งครัด
</p>

<p>
   ในกรณีที่ท่านได้รับความเสียหาย อันเกิดจากความสูญหายหรือเสียหายของข้อมูลส่วนบุคคล หรือเกิดจากเหตุใดก็ตาม ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะ เกิดจากการถูกจารกรรม โดยวิธีการทางอิเล็กทรอนิกส์ (hack) หรือเกิดจากเหตุสุดวิสัย หรือไม่ว่ากรณีใดๆ ทั้งสิ้น โครงการฯ ขอสงวนสิทธิ์ ในการปฏิเสธความรับผิดจากเหตุดังกล่าวทั้งหมด และโครงการฯ ไม่ต้องรับผิดชอบต่อความเสียหาย สูญหายใดๆ ที่เกิดขึ้นทั้งสิ้น
</p>

<p>
   เพื่อความปลอดภัยในข้อมูลส่วนบุคคลของท่าน และผู้ใช้บริการท่านอื่น และเพื่มความเป็นระเบียบเรียบร้อยในการใช้บริการ ท่านตกลงว่า ท่านจะไม่กระทำการใดอันเป็นการล่วงละเมิดสิทธิส่วนบุคคล หรือสิทธิอื่นใดของบุคคลภายนอก รวมทั้งต้องไม่กระทำการใดอันขัดต่อกฎหมาย และ/หรือศีลธรรมอันดีของประชาชน โดยไม่ส่งเนื้อหา รวมถึงการนำข้อความ รูปภาพ หรือภาพเคลื่อนไหวที่ไม่เหมาะสม ไม่สุภาพ มีลักษณะเสียดสี ก่อให้เกิดความขัดแย้ง เป็นความลับ หรือเป็ฯเท็จ รวมทั้งข้อความและรูปภาพที่มีลักษณะขัดต่อกฎหมาย หรือศีลธรรมอันดีของประชาชน เผยแพร่ผ่านบริการหรือกระทำการอื่นใดอันอาจก่อให้เกิดความสูญเสีย หรือเสียหายต่อโครงการฯ และ/หรือบุคคลภายนอก
</p>

{% endblock %}