{% extends 'base_sidebar_left.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Term of use" %}{% endblock %}
{% block title_class %} hidden{% endblock %}
{% block search_toggle_class %}{% endblock %}
{% block search_class %}{% endblock %}
{% block wrapper_class %} -list {% endblock %}

{% block js %}
{% endblock %}

{% block sidebar %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-2 block-filter-msg">
        <h1 class="page-title">{% trans "Terms" %}</h1>
        <ul class="no-bullet filter-messages" role="tablist">
            <li class="item active" role="presentation">
                <a href="{% url 'term' %}">
                    {% trans "Term of use" %}
                </a>
            </li>
            <li class="item">
                <a href="{% url 'privacy' %}">
                    {% trans "Privacy policy" %}
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock%}

{% block content %}

<h2 class="title">{% trans "Term of use" %}</h2>
<p>
    ยินดีต้อนรับสู่ระบบเว็บไซต์ Web Portal (new.set.or.th) สำหรับกลุ่ม Startup ในประเทศไทย เว็บไซต์นี้อยู่ภายใต้การจัดการดูแลของตลาดหลักทรัพย์ เอ็ม เอ ไอ ซึ่งการดำเนินงานภายใต้โครงการเร่งสร้างผู้ประกอบการนวัตกรรมเพื่อขับเคลื่อนเศรษฐกิจ (ซึ่งต่อไปจะเรียกว่า “โครงการ”)
</p>
<hr class="_short" />
<h3>เนื้อหาในเว็บไซต์</h3>
<p>
  เพื่อให้โครงการฯ สามารถรองรับและแสดงเนื้อหาของท่านในเว็บไซต์ได้อย่างถูกต้องตามกฎหมาย ท่านตกลงยินยอมโดยการมอบเนื้อหาให้แก่โครงการฯ หรือด้วยการนำเนื้อหานั้นขึ้นแสดงในเว็บไซต์ให้โครงการฯ มีสิทธิในการใช้ลิขสิทธิ์, สิทธิในการเผยแพร่และการจัดเก็บ

  (หรือสิทธิ์อื่นใดที่จำเป็นต่อการดำเนินการตามวัตถุประสงค์ของเว็บไซต์นี้)
</p>
<p>
  ท่านรับรองว่าเนื้อหาที่ท่านนำแสดงในเว็บไซต์ รวมทั้งข้อมูลที่เกี่ยวข้องทั้งหมด ไม่ได้ละเมิดทรัพย์สินทางปัญญาใดๆ ทั้งในปัจจุบันและอนาคต ไม่ว่าจะเป็นสิทธิบัตร, ลิขสิทธิ์, เครื่องหมายการค้า, ความลับทางการค้า หรือสิทธิอื่นๆ ในการเป็นเจ้าของ (ซึ่งรวมถึง แต่ไม่จำกัดอยู่เฉพาะ การนำความลับทางการค้าไปใช้ในทางที่ผิด) ของบุคคลอื่นใด
</p>
<p>
 ท่านรับทราบและเข้าใจว่า บรรดาข้อมูล, ตัวอักษร, ซอฟท์แวร์, ดนตรี, เสียง, ภาพถ่าย, กราฟิก, วิดีโอ, ข้อความ, หรือสิ่งที่สื่อความหมายในลักษณะอื่นๆ ไม่ว่าจะโพสโดยเปิดเผยต่อสาธารณะและที่สื่อสารกันเป็นการส่วนตัว เป็นความรับผิดชอบของผู้ผลิตเนื้อหาดังกล่าว ดังนั้น ท่านจะต้องรับผิดชอบแต่เพียงผู้เดียวในเนื้อหาที่ท่านอัพโหลด, โพสท์, อีเมล, ส่ง หรือนำมาสู่เว็บไซต์
</p>
<p>
  ก่อนนำขึ้นแสดงในเว็บไซต์ โครงการฯ อาจตรวจสอบเนื้อหาของท่านก่อนหรือไม่ก็ได้ อย่างไรก็ตาม โครงการฯ มีสิทธิ(แต่มิใช่หน้าที่) ที่จะตรวจสอบ, ปฏิเสธ หรือย้ายเนื้อหาใดๆ ของท่านที่ประกฏในเว็บไซต์ด้วยดุลยพินิจของโครงการฯ แต่เพียงผู้เดียว นอกจากนี้โครงการฯ ยังมีสิทธินำเนื้อหาของท่านออกจากเว็บไซต์ หากเนื้อหานั้นขัดต่อข้อตกลงการใช้บริการนี้ หรือไม่เหมาะสมด้วยประการอื่น
</p>
<hr class="_short" />
<h3>ความไม่รับผิด</h3>
<p>
  การนำเสนอข้อมูล ข่าวสาร บทความ หรือข้อความอื่นใดทั้งหมดในเว็บไซต์ นี้เป็นเพียงการให้บริการ รวบรวมข้อมูลความรู้ ฐานข้อมูล หรือแลกเปลี่ยนข้อมูลข่าวสารระหว่างผู้ใช้บริการด้วยกันเท่านั้น ดังนั้นโครงการฯ จึงไม่รับรองว่าบรรดาข้อมูล ข่าวสาร บทความ หรือข้อความอื่นใดปรากฎผ่านบริการและที่อยู่บนเว็บไซต์นี้ ถูกต้องสมบูรณ์ ปราศจากข้อบกพร่อง เสียหาย หรือสมประโยชน์ใดโดยเฉพาะ
</p>
<p>
  โครงการฯ ขอเรียนว่าเว็บไซต์นี้เป็นเพียงสื่อกลาง ที่ใช้ในการส่งผ่านข้อมูล ระหว่างผู้ใช้บริการ และเจ้าของข้อมูลข่าวสาร ในด้านต่างๆ เท่านั้น โครงการฯ ไม่สามารถตรวจสอบ หรือทราบถึงแหล่งที่มา และ/หรือรายละเอียด ของเนื้อหาทั้งหมดของเว็บไซต์ ดังนั้นการนำเสนอข้อมูลดังกล่าวหากก่อให้เกิดความเสียหายแก่ผู้ใช้บริการหรือบุคคลภายนอก จึงไม่ก่อให้เกิดสิทธิ ความรับผิด และ/หรือ ภาระผูกพันทางกฎหมายไม่ว่ากรณีใดๆ ทั้งสิ้น ระหว่างโครงการฯ เจ้าของข้อมูลข่าวสาร ผู้ใช้บริการ สมาชิกของเว็บไซต์ และบุคคลภายนอก
</p>

{% endblock %}