/* -----------------------------------------------
// Default Button
------------------------------------------------- */
.btn-startup {
  display: inline-block;
  min-width: 150px;
  padding: .7rem 2rem;
  border-radius: 0;
  text-align: center;
  font-size: 16px;
  // font-family: $EN-font-body;
  font-weight: bold;
  // background-color: #414042;

  &--primary {
    color: #fff;
    background-color: #414042;

    &:hover,
    &:focus,
    &:active {
      color: $body-link-color-hover;
      text-decoration: none;
      cursor: pointer;
      background-color: darken(#414042, 5%);
    }
  }

  &--secondary {
    color: #fff;
    background-color: #808080;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      cursor: pointer;
      background-color: darken(#808080, 5%);
    }
  }

  &--third {
    color: #7F807E;
    background-color: #EEEEEE;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      cursor: pointer;
      background-color: darken(#EEEEEE, 5%);
    }
  }
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.btn--dark-blue {
  color: #fff;
  background-color: #00658E;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    cursor: pointer;
    background-color: darken(#00658E, 5%);
  }
}

/* -----------------------------------------------
// Solid Button
------------------------------------------------- */



/* -----------------------------------------------
// Outline Button
------------------------------------------------- */



/* -----------------------------------------------
// Flat Button
------------------------------------------------- */
