$btn-facebook-color: #3B5998;
$btn-facebook-color-hover: #2d4373;
$btn-signin-color: #f06e37;
$btn-signin-color-hover: #E4652F;
$btn-cancel-color: #ccc;
$btn-cancel-color-hover: #b5b5b5;
$btn-pink-color: #f08f89;
$btn-pink-color-hover: #DE8681;

$font-body-color: #333;
$font-link-color: #333;
$font-desc-color: #666;
$font-date-color: #999;

$color-pink: #f08f89;
