{%  load i18n %}
<div class="filter-group btn-group btn-group-justified text-left" role="group">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Month" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>TODO</li>
            <li>TODO</li>
            <li>TODO</li>
        </ul>
    </div>

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans "Year" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>TODO</li>
            <li>TODO</li>
            <li>TODO</li>
        </ul>
    </div>

</div>