/* !!!! */

p { word-break: initial;}

.thumbnail img { width: 100%;}
.feature-wrapper .thumbnail img { width: 100%;}
.organization-image .feature-wrapper .thumbnail img { width: auto;}
.content img { max-width: 100%;}

//strong { font-family: $kanit-bold; font-weight: normal;}

.body-container {
    overflow: hidden;
}

.brand,
.logo { 
    font-size: 28px; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: $kanit-light;
}

.brand a {
    display: block;
    overflow: hidden;
    text-indent: 999em;
    position: absolute;
    top: 0;
    right: 75px;
    max-width: 185px;
    max-height: 206px;
    height: 100%;
    background-image: url(/static/images/impactconnect-logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:hover, &:active, &:focus { text-decoration: none;}
}

@media (min-width: 1199px) {
    .brand a { max-height: 250px; max-width: 200px; }
}

.logo { margin: 0 0 2em;}

@media (max-width: 480px) {
    .logo { margin-bottom: 1em;}
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .brand a {
        background-image: url(/static/images/impactconnect-logo@2x.png);
        background-size: contain;
    }
}

@media (max-width: 1200px) and (min-width: 901px) {
    .brand a { right: 0; }
}

@media (max-width: 900px) and (min-width: 768px) {
    .brand {
        position: absolute;
        top: -35px;
        font-size: 21px;
    }
    .brand a {
        text-indent: 0;
        position: relative;
        right: auto;
        width: auto;
        max-width: 100%;
        height: auto;
        background-image: none;
        background-size: initial;
    }
}


.site-name h1 { 
    @include font-size(35);
    font-family: $kanit-light;
    font-weight: 100;
    margin: 20px 0 100px;
    letter-spacing: 2px;
}

@media (max-width: $screen-xs-max) {
    .site-name h1 { @include font-size(35);}
}

.xs-brand a {
    display: block;
    background-color: #767676;
    padding: 4px;
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.label-grey {
    background-color: #e4e4e4;
    color: #999;
    border-radius: 0;
}

hr._short {
    margin-left: 0;
    width: 106px;
    display: inline-block;
}

hr._medium {
    clear: both;
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 260px;
}
.horizon-line{
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-header, .modal-footer { border: 0;}
.close {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 13px;
}

.coming-soon {
    position: relative;
    opacity: 0.5;
}
.coming-soon:after {
    content: 'Coming soon';
    font-size: 40px;
    color: #A0A0A0;
    position: absolute;
    top: 25%;
    left: 30%;
    text-align: center;
    background-color: #fff;
    padding: 10px 90px;
    border: 5px solid #ccc;
}

.page-coming-soon { text-align: center;}
.page-coming-soon:after {
    position: static;
}

@media (max-width: 640px) {
    .coming-soon:after {
        font-size: 25px;
        top: 70px;
        padding: 5px;
    }
}

.block-col-3.coming-soon:after {
    font-size: 25px;
    left: 20%;
}
.block-feature.coming-soon:after {
    font-size: 40px;
    left: 30%;
}

.coming-soon-sidebar:after {
    font-size: 25px;
    padding: 5px 10px;
    left: 0;
}

.text-empty { 
    color: #999; 
    margin: 10px 0;
}

// btn share
.share-btn {
    display: inline-block;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    padding: 5px 13px 7px 5px;
    font-size: 14px;
    height: 35px;
    min-width: 120px;
    position: relative;
    background-color: #3b5998;
    color: #fff;
    text-align: center;
    @include box-sizing(border-box);
    &:hover, &:focus, &:active {
        text-decoration: none;
        background-color: darken(#3b5998, 3%);
        color: #fff;
    }

}
.share-btn.share-tw {
    background-color: #2AA9E0;
    &:hover, &:focus, &:active {
        text-decoration: none;
        background-color: darken(#2AA9E0, 3%);
        color: #fff;
    }
}

.share-btn {
    .icon-twitter { width: auto; background-color: transparent;}
    .icon-twitter:before {
        position: static;
    }
    .icon { 
        background-color: transparent;
        margin-right: 5px; 
        font-size: 19px;
        top: 2px;
        position: relative;
        &:hover {
            background-color: transparent;
        }
    }
}

.date { 
    color: $font-date-color; 
    font-size: 13px;
}

// Pagination
.pagination > li > a {
    border: 0;
    padding: 5px 8px;
    margin-right: 10px;
    font-size: 15px;
    color: #999;
    
    &.active, &:hover, &:focus, &:active { 
        background-color: #EEEEEE;
        text-decoration: underline;
        color: #999;
    }
}
.pagination > li {
    &:hover a, &:focus a, &:active a, &.active a {
        background-color: #EEEEEE;
        color: #999;
        
        &.active, &:hover, &:focus, &:active { 
            background-color: #EEEEEE;
            color: #999;
        }
    }
}

.pagination > .disabled > a, 
.pagination > li.active a {
    color: #333 !important;;
    &.active, &:hover, &:focus, &:active { 
        text-decoration: none;
        color: #333;
    }
}

.demo-site {
    background-color: #f08e8b;
    font-size: 28px;
    font-family: $kanit-light;
    padding: 15px;
    text-align: center;
    letter-spacing: 2px;
}

@media (max-width: $screen-xs-max) {
    .demo-site { font-size: 16px; padding: 6px;}
}





/* ----------------------------------- *\
    icon-social
\* ----------------------------------- */

.icon-social {
    font-size: 20px;
    display: inline-block;
    position: relative;
    &:hover, &:focus, &.active {
        text-decoration: none;
    }
}

.icon-twitter {
    margin: 0 0.2em;
    position: relative;
    width: 24px;
    display: inline-block;
    height: 28px;
}

.icon-twitter {
    color: white;
    background-color: #2AA9E0;
    &:hover {
        color: white;
        background-color: darken(#2AA9E0, 15%);
    }
}

.icon-facebook {
    color: #fff;
    background-color: $btn-facebook-color;
    &:hover {
        color: #fff;
        background-color: $btn-facebook-color-hover;
    }
}

.icon-linkedin {
    color: #02669A;
    background-color: #fff;
    &:hover {
        color: darken(#02669A, 15%);
        background-color: #fff;
    }
}

/* Overwrite icon-social for group-social */
.outlink .icon-social {
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
    &.icon-facebook { 
        color: $facebook-color;
        &:hover {
            color: darken($facebook-color, 15%);
        }
    }
    &.icon-twitter { 
        color: #2AA9E0;
        &:hover {
            color: darken(#2AA9E0, 15%);
        }
    }
    &.no-link {
        color: #CCCCCC;
        background-color: transparent;
        &:hover {
            color: #CCCCCC;
            background-color: transparent;
        }
    }
}





/* ----------------------------------- *\
    #################################
\* ----------------------------------- */

.icon-markunread {
    &:hover, &:focus, &:active, &.action {
    }
}
.dropdown-header {
    font-family: $kanit-regular;
    padding: 0;
    margin-bottom: 5px;
    color: #333;
    word-break: break-word;
    line-height: 19px;
    white-space: normal;
    font-size: 14px;
}

.list-inline { margin: 0;}

.liststyle-none {
    padding: 0;
    list-style:none;
}
.list-mini{
    margin: 0 0 20px;
    padding: 0 0 0 20px;
}

.has-comma {
    > li:before {
        content: '\002C';
    }
    > li:first-child:before {
        content: none;
    }
}

.overview .block, .about-job {
    img {
        max-width: 450px;
        height: auto !important;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #9E9E9E;
}

.btn-delete { 
    color: #999;
    font-size: 14px !important;
}

.testimonial-item {
    position: relative;
    .btn-delete {
        position: absolute;
        right: 0px;
        bottom: 10px;
    }
}

.block-sidebar.block-testimonial {
    .btn-delete {
        display: none;
    }
}

.popover { min-width: 190px;}

.no-bullet { 
    list-style: none;
    padding: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relative {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border: solid 10px transparent;
}

.bg-black {
    background-color: black;
}

.box-shadow {
    box-shadow: 0px 6px 16px -1px rgba(115,115,115,1);
}

.clear {
    clear: both;
}

.force-show {
    display: inline-block !important;
}

.back-link {
    color: #8E5923;
    position: absolute;
    left: 15px;
    top: -40px;
    &:hover {
        color: #8E5923;
    }
}





/* -------------------------------------- *\
    Background for Organization Detail Page
\* -------------------------------------- */

.wrapper {
    background-color: #F4F4F4;

    &.-white{
        background-color: #fff;        
    }
}

.wrapper--list {
    padding-top: 0;
    background-color: white;
}




/* -------------------------------------- *\
                    Topics
\* -------------------------------------- */

.topics {
    @extend .kanit-light;
    display: inline-block;
    margin: 0 5px 5px 0;
    a {
        margin-left: 0;
        border: 1px solid #D4D4D4;
        border-radius: 4px;
        display: inline-block;
        padding: 1px 5px;
        background-color: #fff;
        &:hover, &:active, &:focus, &.active {
            border-color: #000;
            background-color: #000;
            color: #fff;
            text-decoration: none;
        }
    }
}


.list-topic .item { display: inline-block;}

.tag-list.list-inline li {padding: 0;}


/* -------------------------------------- *\
        Update action / Pending 
\* -------------------------------------- */

strong.pending {
    @extend .kanit-light;
    font-weight: 100;
}




/* -------------------------------------- *\
                Alert Style
\* -------------------------------------- */

ul.errorlist {
    list-style: none;
    padding-left: 0;
}

.form-group {
    .alert {
        font-size: 13px;
        margin-top: 7px;
        padding: 3px 11px;
        margin-bottom: 0;
    }
}




/* -------------------------------------- *\
                Media Style
\* -------------------------------------- */

.media-body > .title {
    margin-top: 0;
}




/* -------------------------------------- *\
                Middle
\* -------------------------------------- */

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}





/* -------------------------------------- *\
        Page title / Block Title
\* -------------------------------------- */

.page-title {
    @extend .kanit-extralight;
    font-size: 34px;
    @media (max-width: $screen-xs-max) {
        font-size: 26px;
        margin: 10px 0 20px !important;
    }
}

.post-time {
    font-size: 12px;
    color: $font-date-color;
}



