.breadcrumb {
    padding: 0;
    margin: 0;
    background-color: transparent;
}
.breadcrumb {
    .link-breadcrumb {
        // font-family: $kanit-light;
        display: inline-block;
        padding: 0;
        font-size: 18px;
    }
}





/* -------------------------------------- *\
        Link Breadcrumb
\* -------------------------------------- */

.link-breadcrumb {
    // color: $font-link-content !important;
    color: #000 !important;

    font-size: 16px;
    @media (max-width: 768px) {
        margin-bottom: 10px;
        font-size: 14px;
    }
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.link-breadcrumb:before {
    // font-family: 'icostartup';
    content: "";
    margin-right: 10px;
    position: relative;
    top: 2px;
    background: url('../../images/left-arrow.png') top left no-repeat;
    background-size: 13px 16px;
    display: inline-block;
    width: 13px;
    height: 16px;
}
