[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-th-menu:before {
  content: "\e60a";
  font-size: 20px;
  line-height: 1.1em;
  color: #aeaeae;
}

.icon-left-open-mini:before {
  font-family: 'icomoon';
  content: "\e60f";
}

.icon-quote-left:before, .block-quote:before {
  font-family: 'icomoon';
  content: "\e60c";
}

.icon-profile:before {
  content: "\e60d";
}

.icon-setting:before {
  content: "\e609";
}


.icon-edit:before {
  content: "\e60a";
}

.icon-notification:before {
  content: "\e606";
}

.icon-linkedin:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e607"
}

.icon-email:before {
  content: "\e605";
}

.icon-hover:before {
  content: "\e603";
}

.icon-heart:before {
  content: "\e604";
}

.icon-heart2:before {
  content: "\e604";
}

.icon-twitter:before {
  content: "\e602";
  position: absolute;
  top: 10px;
  left: 0;
}

.icon-facebook:before {
  content: "\e601";
}

.icon-right-open-mini:before, .bullet .item:before {
  font-family: 'icomoon';
  content: "\e60b";
}

.icon-exit:before {
  font-family: 'icomoon';
  content: "\e60e";
}

.bullet .item:before { 
  position: absolute;
  top: 1px;
  left: 0;
  width: 0.5em;
} 

.icon-setting {
  font-size: 18px;
}

.icon-drafts:before {
  content: "\e610";
}

.icon-markunread:before {
  content: "\e611";
}

.icon-phone-iphone:before {
  content: "\e612";
}

.icon-list:before {
  content: "\e616";
}

.icon-globe:before {
  content: "\e614";
}

.icon-earth:before {
  content: "\e615";
}

.icon-list2:before {
  content: "\e617";
}

.icon-user2:before {
  content: "\e61b";
}

.icon-users2:before {
  content: "\e619";
}

.icon-people-outline:before {
  content: "\e618";
}

.icon-person-outline:before {
  content: "\e61d";
}

.icon-head:before {
  content: "\e074";
}

.icon-plus:before {
  content: "\e114";
}

.icon-profile:before {
  content: "\e60d";
}

.icon-mail2:before {
  content: "\e61c";
}

.icon-heart:before {
  content: "\e61a";
}

.icon-users:before {
  content: "\e620";
}

.icon-users-follow:before {
  content: "\e625";
}

.icon-mail:before {
  content: "\f03b";
}

.icon-done:before {
  content: "\e618";
}

.icon-remove:before {
  content: "\e619";
}

.icon-ellipsis:before {
  content: "\e62c";
}

.icon-newspaper:before {
  content: "\e626";
}

.icon-vcard:before {
  content: "\e62b";
}

.icon-thumbsup:before {
  content: "\e627";
}

.icon-user:before {
  content: "\e621";
}

.icon-suitcase:before {
  content: "\e628";
}

.icon-group:before {
  content: "\e62d";
  font-size: 20px;
}

.icon-hand:before {
  content: "\e61b";
  font-size: 20px;
}

.icon-rss:before {
  content: "\f034";
}

.icon-cone2:before {
  content: "\e631";
}
.icon-coffee:before {
  content: "\e632";
}
.icon-tools:before {
  content: "\f031";
}

.icon-cone:before {
  content: "\e630";
}

.icon-bubble:before {
  content: "\e633";
}

.icon-moneybag:before {
  content: "\e634";
}

.icon-dollar:before {
  content: "\f155";
}