@font-face {
    font-family: 'icostartup';
    src:    url('../fonts/icostartup/icostartup.eot?oeutx');
    src:    url('../fonts/icostartup/icostartup.eot?oeutx#iefix') format('embedded-opentype'),
        url('../fonts/icostartup/icostartup.ttf?oeutx') format('truetype'),
        url('../fonts/icostartup/icostartup.woff?oeutx') format('woff'),
        url('../fonts/icostartup/icostartup.svg?oeutx#icostartup') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icostartup {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icostartup' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-news:before {
    content: "\e900";
}
.icon-sm-following:before {
    content: "\e901";
}
.icon-right:before {
    content: "\e902";
}
.icon-left:before {
    content: "\e903";
}
.icon-upload:before {
    content: "\e904";
}
.icon-search:before {
    content: "\e905";
}
.icon-x:before {
    content: "\e906";
}
.icon-sm-love-fill:before {
    content: "\e907";
}
.icon-reply:before {
    content: "\e908";
}
.icon-close:before {
    content: "\e909";
}
.icon-info:before {
    content: "\e90a";
}
.icon-think:before {
    content: "\e90b";
}
.icon-delete:before {
    content: "\e90c";
}
.icon-heart-fill:before {
    content: "\e90d";
}
.icon-admin:before {
    content: "\e919";
}
.icon-sm-love:before {
    content: "\e912";
}
.icon-people:before {
    content: "\e913";
}
.icon-message:before {
    content: "\e914";
}
.icon-job:before {
    content: "\e915";
}
.icon-users-follow:before {
    content: "\e916";
}
.icon-heart:before {
    content: "\e917";
}
.icon-contact:before {
    content: "\e918";
}
.icon-feed:before {
    content: "\e91a";
}
.icon-bell:before {
    content: "\e90e";
}
.icon-plus:before {
    content: "\e114";
}
.icon-invest:before {
    content: "\e90f";
}



