/* --------------------------------- *\
        Main Layout
\* --------------------------------- */

.body-container {
    width: 100%;
}
.wrapper { 
    position: relative;
    z-index: 1;

    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.wrapper-base{
    padding-top: 30px; 
    .breadcrumb a {
        margin: 0 0 30px;
    }

    @media (max-width: 768px) {
        padding-top: 10px;
        padding-bottom: 0px;
        .breadcrumb a  {
            margin: 0 0 10px;
        }
    }

}
.wrapper-base-sidebarleft {
    padding-top: 0px;

    .full-height-inner {
        margin-top: 0;
        padding-top: 50px;
        // padding-top: 100px;
        @media (max-width: $screen-xs-max) {
            padding: 20px;
        }
    }

    &.-list {
        .sidebar-left {
            margin-top: 100px;
        }
    }

    .breadcrumb a {
        margin: 50px 0 30px;
    }

    @media (max-width: 768px) {
        .breadcrumb a {
            margin-bottom: 20px;
            margin-top: 30px;
        }
    }
    @media (max-width: $screen-xs-max) {
        .breadcrumb a {
            margin-bottom: 0px;
            margin-top: 20px;
        }
    }
}

.wrapper-base-sidebarleft.-list {
    .sidebar-left {
        margin-top: 100px;
        @media (max-width: $screen-xs-max) {
            margin-top: 20px;
        }
    }
    &.-white .sidebar-left {
        margin-top: 70px;
        @media (max-width: $screen-xs-max) {
            margin-top: 20px;
        }
        .page-title { margin-top: 0;}
    }
    &.-white .full-height-inner {
        padding-top: 140px;
        @media (max-width: $screen-xs-max) {
            padding-top: 0;
        }
    }
}
.wrapper-base-sidebarright {
    padding-top: 0;

    .event-wrapper {
        padding: 80px 40px 150px;
        background-color: #fff;

        @media (max-width: $screen-xs-max) {
            padding: 20px;
            margin-top: 20px;
            border: 1px solid #c7c7c7;
        }
    }

    .sidebar-left {
        margin-top: 80px;
    }
}

.footer {
    padding: 30px 0;
}

.main-content {
    position: relative;
    z-index:0;
}

.bg-white {
    background: #fff;
}
.-plainlist-wrapper { padding: 40px 60px 60px;}
.bg-full {
    position: relative;
    margin-bottom: -120px;
    &:before {
        content: '\00a0';
        position: absolute;
        width: 4000px;
        height: 100%;
        left: -100%;
        background-color: #fff;
        z-index: -1;
        padding-bottom: 10px;
        box-sizing: content-box;
    }
}
.bg-white.bg-full { background-color: transparent; padding: 10px 0;}

.bg-full .block-event.block-feature {
    margin-top: 6em;
}

.container { padding: 0;}

@media (max-width: $screen-xs-max) {
    .container { padding: 0 1em;}
    .bg-white-wrapper { padding: 1em;}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .container { width: 100%; padding: 0 1em;}
    .bg-white-wrapper { padding: 1em;}
}

@media (max-width: $screen-xs-max) {
    .bg-full { margin-bottom: 0;}
}

.sidebar-right {
    .pull-right { float: none !important;}
}

@media (max-width: $screen-md-min) {
    .sidebar-right { margin-top: 50px;}
}

.content-class.organize {
    .sidebar-right {
        padding-bottom: 80px;
    }
}

@media (max-width: 480px) {
    .main-content {
        background: transparent;
    }
    .bg-white-wrapper {
        padding: 0;
    }
}





/* ---------------------------------- *\
        Block primary
\* ---------------------------------- */

.block-primary {
    @media (min-width: $screen-sm-max) {
        padding: 60px 60px 0 60px;
    }
}





/* -------------------------------------- *\
        content detail page gap
\* -------------------------------------- */

.detail {
    @media (max-width: 768px) {
        padding: 15px;
    }
}

.detail > .row {
    > .col-md-8 {
        @media (min-width: 990px) {
            padding-left: 75px;
        }
        @media (max-width: 768px) {
            padding-left: 15px;
        }
    }
    > .sidebar-right {
        @media (min-width: 768px) {
            // padding-right: 75px;
        }
        @media (min-width: 990px) {
            padding-right: 75px;
        }
        @media (max-width: 768px) {
            padding-right: 15px;
        }
    }
}





/* -------------------------------------- *\
        Overview Detail
\* -------------------------------------- */

.overview {
    padding-bottom: 30px;
    > div {
        @media (min-width: 768px) {
            //padding: 0 60px;
        }
    }
}



/* -------------------------------------- *\
    Full height main Content w/ sidebar left
\* -------------------------------------- */

.full-height-wrapper {
    > .sidebar-left { 
        margin-bottom: 80px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 20px;
        }
    }
}

.full-height {
    .full-height-inner {
        background-color: #fff;
    }
}

.full-height {
    height: 100%;
    background-color: #fff;
    padding: 0;

    @media (max-width: $screen-sm-max) {
        // padding: 0 15px;
        // background-color: transparent;
    }
}

@media (max-width: $screen-xs-max) {
    .full-height {
        position: relative;
        background-color: transparent;
        margin: 0;
        width: 100%;
        .full-height-inner {
            position: relative;
            width: auto;
            margin: 15px;
            overflow: hidden;
        }
    }
}




/* -------------------------------------- *\
Content thin for signin/ signup / reset password
\* -------------------------------------- */

.content-thin.-content-form-small {
    max-width: 420px;
    margin: 1em auto;
    padding: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    background-color: #fff;
}