/*
** BEGIN AGAIN WITH MENU
*/





/* ----------------------------------- *\
  Hack ASIP menu
\* ----------------------------------- */
.asip-title-brand {
    display: none !important;
}

.navbar-default > .container {
    width: 100%;
    padding: 0;
}

.navbar-nav.navbar-right {
    margin-right: 15px;
}

.asip-navbar {
  padding-bottom: 5px;
  background-color: #000;

  @media (max-width: 991px) {
    padding: 5px 0 10px;
  }
}





/* ----------------------------------- *\
    Menu right
\* ----------------------------------- */

.menu-small .nav > li > a {

    margin: 0 8px;
    padding: 0;
    line-height: 60px;
    color: white;
    font-family: $EN-font-heading;
    font-size: 2.1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    // font-family: $font-extra-light;

    @media (max-width: 340px) {
        margin: 0 2px;
    }
    &.icon-search {
        font-family: 'icomoon';
    }

    &.user-img-toggle {
        > img {
            max-width: 28px;
            width: auto;
            background-color: #fff;
            padding: 1px;
        }
        margin-right: 0;
    }

    &:hover, &:focus, &:active {
        // color: $main-color;
        color: #D92F78;
    }
}

.menu-small .navbar-nav.navbar-right {
  // display: none;

  @media (min-width: $lg) {
    display: block;
    // margin-top: 18px;
  }
}

// fix
.navbar-menu-wrapper .menu-small .navbar-right {
  li {
    padding: 0;

    a {

    }
  }
}



/* ----------------------------------- *\
   Startup menu: top-menu-wrapper
\* ----------------------------------- */

.top-menu-wrapper {
    @extend .nav;
    @extend .navbar-default;
    @extend .xs-navbar;

    background-color: #000;
    margin-top: -60px;

    @media (max-width: 420px) {
        margin-top: -62px;
    }

    // padding: 14px 15px;
    // color: #fff;
    // background-color: #000;
    //
    // @media (min-width: $lg) {
    //   padding: 14px 25px;
    // }
}





/* ----------------------------------- *\
  Menu
\* ----------------------------------- */

// .kanit-medium {
//     font-family: $kanit-medium;
// }
// .kanit-extra-light-18px {
//     font-family: $font-extra-light;
//     font-size: 18px;
// }

.menu {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.top-menu-wrapper {
    .brand-logo {
        float: left;
        width: 79px;
        height: 39px;
        margin: 9px 15px 0 0;
        // border-right: 1px solid #666666;
        overflow: hidden;
        text-indent: -999em;
        background: url('../../images/startup-logo.png') no-repeat 10px center;
        background-size: 69px 39px;

        @include image-2x("../../images/startup-logo@2x.png", 69px, 39px);

        @media (min-width: $lg) {
          margin-top: 13px;
        }
    }
}

.menu__level-0 {
    margin-bottom: 0;
    margin-top: 0;

    @media (min-width: $lg) {
      display: block;
      float: left;
      // margin-top: 12px;
    }

    > .menu__item {
        display: inline-block;
        margin-bottom: 0;
        padding: 0 13px;
    }

    > .menu__item a {
        display: block;
        height: 61px;
        line-height: 67px;

        @media (max-width: $screen-md-max) {
            // padding: 0 10px;
        }
    }
}

.menu__level-0 a {
  font: 2.1rem/1em $EN-font-heading;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &:hover,
  &.active,
  &:focus {
      color: $body-link-color-hover;
      text-decoration: none;
  }
}

// fufu
.top-menu-wrapper {
  .nav-menu-mobile {
    float: none;
    text-align: center;

    li {
      display: block;
      padding: .7em 10px;
      line-height: 1;

      a {
        font: 2.1rem/1em $EN-font-heading;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        height: auto;
        padding-bottom: 0;

        &:hover,
        &.active,
        &:focus {
            color: $body-link-color-hover;
            text-decoration: none;
        }
      }
    }
  }

  // HoverMenu
  .menu__item.menu__item-has-hover {
    &:hover {
      .sub-menu-hover {
        display: block;
      }
    }
  }

  // Arrow Down Sub Menu
  .menu__item.menu__item-has-children  {
    padding-right: 5px;
    position: relative;

    > a::after {
      content: '';
      position: relative;
      display: inline-block;
      top: -4px;
      margin-left: .5em;
      margin-top: 4px;
      width: 7px;
      height: 7px;
      border-top: 0.1em solid #fff;
      border-right: 0.1em solid #fff;
      -moz-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }

  .sub-menu-mobile {
    margin: 10px 0 0;
    padding: 0;
    min-width: 200px;
    z-index: 999;
    margin-left: 50%;
    border-left: 1px solid #F23686;
    text-align: left;

    .menu-item {
      margin-bottom: 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}


.sub-menu-hover {
  display: none;
  position: absolute;
  left: 0;
  top: 61px;
  width: 100vw;
  margin: 0;
  padding: 0;
  // min-width: 200px;
  z-index: 999;
  // margin-left: 50%;
  // border-left: 1px solid #F23686;
  list-style: none;
  background-color: #333;

  .menu-item {
    display: inline-block;
    padding: 12px 13px;
    text-align: left;
    margin: 0;

    &:last-child {
      padding-bottom: 0;
    }

    a {
      position: relative;
      height: auto;
      line-height: 1;
      z-index: 999;
    }
  }

  &:before {
    position: absolute;
    left: -50%;
    display: block;
    content: '';
    height: 45px;
    width: 100%;
    background-color: #333;
  }

  @media (min-width: 992px) {
    // display: none;
    // margin: 0;
    // margin-left: 0%;
    // border-left: none;
    // background-color: #333;

    .menu-item {
      // display: inline-block;
      // border-bottom: none;
      // text-align: center;
      // padding-bottom: .7em;
    }
  }
}



/* ----------------------------------- *\
   Startup menu: Hamburger
\* ----------------------------------- */

.menu__hamburger.navbar-header {
    // height: 60px;
    display: none;
    padding: 0;
    margin: 15px 0 0 10px;

    .icon-bar {
        // background-color: $main-color;
        background-color: #fff;
    }

    @media (max-width: 991px) {
      display: inline-block;
      margin-right: 5px;
    }
}

.menu__toggle.navbar-toggle {
    display: inline-block;
    height: 100%;
    margin: 0 10px 0 0;
    padding: 12px 6px;
    border-radius: 0;
    border: none !important;
    float: left;
    @media (max-width: 420px) {
        padding: 9px 5px;
    }
    &:hover,
    &:focus {
        // background-color: $main-color;
        background-color: #414042;
    }

    &:hover .icon-bar,
    &:focus .icon-bar {
        background-color: black;
    }
}





/* ----------------------------------- *\
  Menu collapse
\* ----------------------------------- */

.top-menu-wrapper > .menu__collapse {
    // background-color: #222222;
    background-color: #000;
    float: left;
    width: 100%;

    > div {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    a {
        display: inline-block;
        padding-bottom: 7px;
        font-family: $font-extra-light;
        font-size: 16px;
    }

    a:hover,
    a.active {
        color: $main-color;
        text-decoration: none;
    }

    h2,
    li,
    a {
        color: white;
    }

    .block-followus {
        padding: 25px 15px;
        box-sizing: border-box;
        text-align: left;
        @media (max-width: $screen-xs-max) {
            margin-top: 0;
            padding: 15px;
        }
    }
}

.navbar-main-menu {
    padding: 27px 0;
    border-left: 1px solid #2E2E2E;
}

// screen width >= iPad portrait
@media (min-width: $screen-xs-max) {

    .menu-group {
        > .menu-group__list {
            margin-left: 15px;
        }
    }

    .menu-group {
        float: left;
    }
}

@media (max-width: $screen-xs-max) {
    .navbar-main-menu {
        padding: 15px 0;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #2E2E2E;
    }
    .menu-group__list a {
        padding-left: 0;
    }
}

.block-followus {
    &.__left {
        float: left;
    }
}





/* ----------------------------------- *\
    Notification
\* ----------------------------------- */

.notification-topbar,
.message-topbar {
    position: relative;
    .icostartup {
        font-size: 16px;
    }
}
.unread-noti {
    position: absolute;
    top: 7px;
    right: 5px;
    background-color: #CB4437;
    color: #fff;
    font-size: 10px;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 0;
    line-height: 17px;
}

.notification-topbar .icostartup { font-size: 18px;}

.message-topbar .unread-noti { right: -5px;}

.menu-small {
    font-size: 18px;
    .glyphicon-star { left: 0;}
    .unread-noti { top: 11px; right: -7px;}
    .navbar-nav > li > a.notification-topbar { padding: 0;}
    .message-topbar .unread-noti { right: -8px;}
}





/* ----------------------------------- *\
  Menu Profile
  - Login, Register
  - Dropdown profile menu
\* ----------------------------------- */

.navbar-default .navbar-nav {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    float: none !important;
    text-align: right;

    > li {
        float: none;
        display: inline-block;
        margin-bottom: 0;
        padding: 0 10px;
    }

    > .user-img-toggle {
        position: relative;
        padding: 0;
        // line-height: 60px;
    }

    > .nav-search-item {
        margin-top: -3px;
    }

    .caret {
        border-top-color: white;
    }
}

.navbar-default .navbar-nav > .open {

    > .user-img-toggle,
    > .user-img-toggle:focus,
    > .user-img-toggle:hover {
        background-color: transparent;
    }

    > .user-img-toggle:focus {
        outline: 0;
    }
}
