$facebook-color: #3b5998;
$btn-facebook-color: #3b5998;
$btn-facebook-color-hover: #2d4373;
$btn-linkedin-color: #287bbc;
$btn-linkedin-color-hover: #2672ae;
$btn-signin-color: #f06e37;
$btn-signin-color-hover: #E4652F;
$btn-cancel-color: #ccc;
$btn-cancel-color-hover: #b5b5b5;
$btn-pink-color: #f08f89;
$btn-pink-color-hover: #DE8681;

$font-body-color: #333;
$font-link-color: #333;
$font-desc-color: #666;
$font-date-color: #999;
$font-desc-color--secondary: #777;
$font-link-content: #A46F17;

$color-pink: #f08f89;
$color-yellow: #F9B94C;

$color-loved: #ff8282;

//Startup Portal Color
$main-color: #F9B94C;
$bg-color: #2B2B2B;
$btn-yellow: #F9B94C;
$btn-yellow-hover: darken(#F9B94C, 8%);

$border-grey-color: #c7c7c7;