<div id="player" width="100%" height="100%">
</div>

<div class="mask-bg">
</div>
<div class="mask">
    <div class="mask-row">
        <div class="mask-td relative">
            <div class="feature-content">

                <a class="play-button">
                    <h4><span>LIVE</span> <i class="glyphicon glyphicon-play"></i></h4>
                </a>
                <p>&nbsp</p>
                <p class="feature-from color-white kanit-extralight">from</p>
                <h3 class="feature-title color-white">Startup Thailand Expo 2016</h3>
                <p class="feature-location color-white kanit-extralight"><i class="glyphicon glyphicon-map-marker"></i> Queen Sirikit National Convention Center</p>
            </div>
        </div>
    </div>
</div>

