{% extends 'base_sidebar.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% endblock %}

{% block title_class %} hidden{% endblock %}

{% block content_class %} bg-white bg-white-wrapper{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block js %}

<script type="text/javascript">
    var event_id = {{ event_id }};
</script>
{% endblock %}
{% block main_extra %} ng-controller="EventDetailController"{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<a href="/updates/event/{[{ event.id }]}/edit/" ng-if="event.can_edit" class="btn btn-default btn-xs pull-right ico-edit">
    <span class="glyphicon glyphicon-edit"></span> Edit
</a>
{% endif %}

<div class="article-wrapper">
  <div class="content-type">Event</div>
  <h1 class="page-title" ng-clock ng-bind-html="(event.title || '')"></h1>
  <div class="date" ng-clock><span>Create Date : </span>{[{event.created | dateFormText:'MMMM d, yyyy'}]}</div>
  <div class="content">
    <div class="feature-image"><img ng-src="{[{ event.get_thumbnail }]}" /></div>
    <p ng-bind-html="(event.description || '') | sanitize">
    </p>
  </div>
  <div class="tag-group">
      <ul class="tag-list item-list">
          <li class="tag" ng-repeat="topic in event.topics">
            <span class="tag-item" href="" ng-clock>
              <span class="tag-wrapper">{[{topic.title}]}</span>
            </span>
          </li>
      </ul>
  </div>
  <div class="block block-share">
    <h2 class="block-title">Share this:</h2>
    <a class="share-btn share-fb" href="#" facebook-share name="{[{ event.title }]}" picture="{[{ event.get_thumbnail }]}" description="{[{ event.get_summary }]}" ><span class="icon icon-facebook"></span>Facebook</a>
    <a class="share-btn share-tw" twitter-share href="http://twitter.com/share" ><span class="icon icon-twitter"></span>Twitter</a>
  </div>
</div>
<!-- End block Happening -->

{% endblock %}

<!-- Sidebar right-->
{% block sidebar %}

<!-- Block Event sidebar on detail page -->
<div class="opening-time block block-sidebar event-sidebar-detail no-border" ng-show="event.start_date">
  <h2 class="block-title">Opening Times</h2>
  <div class="date-opening" ng-clock>{[{ event.start_date | dateEvent:event.end_date }]}</div>
</div>
<div class="location block block-sidebar event-sidebar-detail no-border" ng-show="event.location">
    <h2 class="block-title">Location</h2>
    <div ng-clock>{[{ event.location }]}</div>
</div>
<div class="contact-agent lock block-sidebar event-sidebar-detail no-border" ng-show="event.phone || event.email || event.facebook_url || event.twitter_url || event.homepage_url">
  <h2 class="block-title">Contact of Event’s Organizer</h2>
  <div class="havetext-wrapper">
    <div class="organiser-website organiser-detail" ng-show="event.homepage_url"><span class="icon icon-earth"></span><a href="{[{ event.homepage_url }]}" target="_blank" ng-clock>{[{ event.homepage_url }]}</a></div>
    <div class="organiser-phone organiser-detail" ng-show="event.phone"><span class="icon icon-phone-iphone"></span><a href="tel:{[{ event.phone }]}" ng-clock>{[{ event.phone }]}</a></div>
    <div class="organiser-email organiser-detail" ng-show="event.email" ><span class="icon icon-markunread"></span><a href=""ng-click="mail_service.send_mail(event.email)" title="Email">Send Email</a></div>
  </div>
  
  <div class="no-text organiser-facebook organiser-detail" ng-show="event.facebook_url"><a href="{[{ event.facebook_url }]}" target="_blank" class="icon icon-facebook" title="Facebook"></a></div>
  <div class="no-text organiser-twitter organiser-detail" ng-show="event.twitter_url"><a href="{[{ event.twitter_url }]}" target="_blank" class="icon icon-twitter" title="Twitter"></a></div>
</div>
<!-- End Block Event sidebar on detail page -->

{% endblock %}