{% extends 'base_sidebar_left.html' %}
{% load i18n %}
{% load static %}

{% load thumbnail files_widget_tags %}

{% block title %}{{ instance.get_display_name }}{% endblock %}
{% block description %}{{ instance.description|striptags }}{% endblock %}
{% block image %}{% spaceless %}
    {% if instance.image.url %}
        {% thumbnail instance.image|unquote '260x260' upscale=True padding=20 format=instance.image|thumbnail_format as thumb %}
            {{ thumb.url }}
        {% endthumbnail %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block title_class %} hidden{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'job_list' %}" class="link-breadcrumb hidden-xs">Job</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
        var job_id = {{ job_id }};
</script>
{% endblock %}
{% block main_extra %} ng-clock ng-controller="JobDetailController"{% endblock %}


{% block sidebar %}
    <div class="block block-job-detail hidden-xs">
        <div class="media">
            <div class="media-left">
                <div class="thumbnail small-logo -sqr90">
                    <span>
                            <a ng-if="organization.get_status == notification_status.active" ng-href="{[{organization.absolute_url}]}" title="{[{organization.get_display_name}]}">
                                    <img ng-src="{[{organization.get_thumbnail}]}" />
                            </a>
                            <img ng-if="organization.get_status != notification_status.active" ng-src="{[{organization.get_thumbnail}]}" />
                    </span>
                </div>
            </div>
            <div class="media-body">
                    <h4 class="title">
                        <a ng-if="organization.get_status == notification_status.active" ng-href="{[{organization.absolute_url}]}" title="{[{organization.get_display_name}]}">{[{organization.get_display_name}]}</a>
                        <strong class="pending" ng-if="organization.get_status != notification_status.active">{[{organization.get_display_name}]} (pending)</strong>
                    </h4>
                    <div class="description" ng-bind-html="organization.get_summary | sanitize"></div>
            </div>
        </div>
        <div class="block-social">
            <div class="outlink">
                <ul class="social">
                    <li ng-if="organization.facebook_url"><a href="{[{ organization.facebook_url }]}" class="icon-social icon-facebook" target="_blank"></a></li>
                    <li ng-if="!organization.facebook_url"><span class="icon-social icon-facebook no-link"></span></li>
                    <li ng-if="organization.twitter_url"><a href="{[{ organization.twitter_url }]}" class="icon-social icon-twitter" target="_blank"></a></li>
                    <li ng-if="!organization.twitter_url"><span class="icon-social icon-twitter no-link"></span></li>
                    <li ng-if="organization.linkedin_url"><a href="{[{ organization.linkedin_url }]}" class="icon-social icon-linkedin" target="_blank"></a></li>
                    <li ng-if="!organization.linkedin_url"><span class="icon-social icon-linkedin no-link"></span></li>
                </ul>
                <div class="website" ng-if="organization.homepage_url">
                    <a href="{[{ organization.homepage_url }]}" class="homepage" target="_blank" ng-cloak>{[{ organization.homepage_url }]}</a>
                </div>
            </div>
        </div>
        <div class="block block-share clear">
            <h2 class="block-title">{% trans 'Share this' %}:</h2>
            <a class="share-btn share-fb" href="#" facebook-share name="{[{ news.title }]}" picture="{[{ news.get_thumbnail }]}" description="{[{ news.get_summary }]}" ><span class="icon icon-facebook"></span>Facebook</a>
            <a class="share-btn share-tw" twitter-share href="http://twitter.com/share" ><span class="icon icon-twitter"></span>Twitter</a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <a href="{% url 'job_list' %}" class="link-breadcrumb hidden-sm hidden-md hidden-lg">Job</a>

    <div class="block block-job-detail hidden-sm hidden-md hidden-lg">
        <div class="media">
            <div class="media-left">
                <div class="thumbnail small-logo -sqr90">
                    <span>
                            <a ng-if="organization.get_status == notification_status.active" ng-href="{[{organization.absolute_url}]}" title="{[{organization.get_display_name}]}">
                                    <img ng-src="{[{organization.get_thumbnail}]}" />
                            </a>
                            <img ng-if="organization.get_status != notification_status.active" ng-src="{[{organization.get_thumbnail}]}" />
                    </span>
                </div>
            </div>
            <div class="media-body">
                    <h4 class="title">
                        <a ng-if="organization.get_status == notification_status.active" ng-href="{[{organization.absolute_url}]}" title="{[{organization.get_display_name}]}">{[{organization.get_display_name}]}</a>
                        <span ng-if="organization.get_status != notification_status.active">{[{organization.get_display_name}]} (pending)</span>
                    </h4>
                    <div class="description" ng-bind-html="organization.get_summary | sanitize"></div>
            </div>
        </div>
        <div class="block-social">
            <div class="outlink">
                <ul class="social">
                    <li ng-if="organization.facebook_url"><a href="{[{ organization.facebook_url }]}" class="icon-social icon-facebook" target="_blank"></a></li>
                    <li ng-if="!organization.facebook_url"><span class="icon-social icon-facebook no-link"></span></li>
                    <li ng-if="organization.twitter_url"><a href="{[{ organization.twitter_url }]}" class="icon-social icon-twitter" target="_blank"></a></li>
                    <li ng-if="!organization.twitter_url"><span class="icon-social icon-twitter no-link"></span></li>
                    <li ng-if="organization.linkedin_url"><a href="{[{ organization.linkedin_url }]}" class="icon-social icon-linkedin" target="_blank"></a></li>
                    <li ng-if="!organization.linkedin_url"><span class="icon-social icon-linkedin no-link"></span></li>
                </ul>
                <div class="website" ng-if="organization.homepage_url">
                    <a href="{[{ organization.homepage_url }]}" class="homepage" target="_blank" ng-cloak>{[{ organization.homepage_url }]}</a>
                </div>
            </div>
        </div>
        <div class="block block-share clear">
            <h2 class="block-title">{% trans 'Share this' %}:</h2>
            <a class="share-btn share-fb" href="#" facebook-share name="{[{ news.title }]}" picture="{[{ news.get_thumbnail }]}" description="{[{ news.get_summary }]}" ><span class="icon icon-facebook"></span>Facebook</a>
            <a class="share-btn share-tw" twitter-share href="http://twitter.com/share" ><span class="icon icon-twitter"></span>Twitter</a>
        </div>
    </div>

    <div class="article-wrapper">
        <div class="text-right btn-edit-wrapper">
            {% if user.is_authenticated %}
            <a ng-if="job.can_edit" href="/job/{[{ job_id }]}/edit/" class="btn btn-default btn-xs ico-edit">
                <span class="glyphicon glyphicon-edit"></span> Edit
            </a>
            {% endif %}
        </div>
        <div class="block about-job">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="title" ng-clock>
                        {[{job.title}]}
                    </h2>
                    <div class="description -job clear hide">
                        {[{ job.get_summary }]}
                    </div>
                </div>
                <div class="col-sm-4 text-right btn-apply-wrapper">
                    <a class="btn btn-primary" href="" data-target="#modal-apply" data-toggle="modal">Apply now</a>
                </div>
            </div>
            <!-- <span class="job-location job-list-detail">at&nbsp; {[{job.country.title}]}</span> -->

        </div>
        <div class="block job-detail">
            <hr />
            <div class="block-content job-summary" ng-bind-html="job.description | sanitize">
            </div>
            <div class="block-content">

                 <!-- Position -->
                <div class="detail-wrapper" ng-if="job.position">
                    <div class="title-detail">Type of Position</div>
                    <div class="detail">
                        {[{ job.get_position_display }]}
                    </div>
                </div>

                <!-- Roles -->
                <div class="detail-wrapper" ng-if="job.job_primary_role || (job.job_roles && job.job_roles.length > 0)">
                    <div class="title-detail">Roles</div>
                    <div class="detail">
                        <ul class="item-list item-list-inline">
                            <li nf-if="job.job_primary_role">{[{ job.job_primary_role.title }]} (primary)</li>
                            <li ng-repeat="role in job.job_roles">
                                {[{ role.title }]}
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Location -->
                <div class="detail-wrapper" ng-if="job.locations && job.locations.length > 0">
                    <div class="title-detail">Locations</div>
                    <div class="detail">
                        <ul class="item-list item-list-inline">
                            <li ng-repeat="location in job.locations">
                                {[{ location.title }]}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Skill -->
                <div class="detail-wrapper" ng-if="job.skills">
                    <div class="title-detail">Skills</div>
                    <div class="detail">
                        {[{ job.skills }]}
                    </div>
                </div>

                <!-- Compensation -->
                <div class="detail-wrapper" ng-if="job.money_salary_min || job.money_salary_max || job.equity_min || job.equity_max">
                    <div class="title-detail">Compensation</div>
                    <div class="detail">
                        <ul class="item-list">
                            <li ng-if="job.money_salary_min || job.money_salary_max">
                                {[{job.money_salary_min}]} <span ng-if="job.money_salary_min && job.money_salary_max">-</span> {[{job.money_salary_max}]} Salary
                            </li>
                            <li ng-if="job.equity_min || job.equity_max">
                                {[{job.equity_min | addText:"%"}]} <span ng-if="job.equity_min && job.equity_max">-</span> {[{job.equity_max | addText:"%"}]} Equity
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Remote -->
                <div class="detail-wrapper" ng-if="job.remote">
                    <div class="title-detail">Remote</div>
                    <div class="detail" ng-cloak>
                        {[{job.remote ? "YES" : "NO"}]}
                    </div>
                </div>

                <!-- Years of Experience -->
                <div class="detail-wrapper" ng-if="job.years_of_experience != null">
                    <div class="title-detail">Years of Experience</div>
                    <div class="detail" ng-if="job.years_of_experience > 0">
                        {[{job.years_of_experience}]}+ Year{[{job.years_of_experience > 1 ? "s" : ""}]}
                    </div>
                    <div class="detail" ng-if="job.years_of_experience <= 0">
                        Experience not required.
                    </div>
                </div>

            </div>
        </div>
        <div class="post-time text-right" ng-cloak>
            Posted {[{ job.created | timeago }]}
        </div>

        <div class="block block-share clear">
            <h2 class="block-title">{% trans 'Share this' %}:</h2>
            <a class="share-btn share-fb" href="#" facebook-share name="{[{ news.title }]}" picture="{[{ news.get_thumbnail }]}" description="{[{ news.get_summary }]}" ><span class="icon icon-facebook"></span>Facebook</a>
            <a class="share-btn share-tw" twitter-share href="http://twitter.com/share" ><span class="icon icon-twitter"></span>Twitter</a>
        </div>
    </div>


{% endblock %}

{% block modal %}
<div class="modal fade" id="modal-apply" tabindex="-1">
    <div class="modal-dialog base-action-modal">
        <div class="modal-content">
                <button class="close" data-dismiss="modal" type=
                "button"><span>&times;</span><span class=
                "sr-only">Close</span></button>

            <div class="modal-body">


                <div class="row">
                    <div class="col-sm-2">
                        <div class="thumbnail">
                            <br/>
                            <span>
                                <a ng-if="organization.get_status == notification_status.active" ng-href="{[{organization.absolute_url}]}" title="{[{organization.get_display_name}]}">
                                        <img ng-src="{[{organization.get_thumbnail}]}" />
                                </a>
                                <img ng-if="organization.get_status != notification_status.active" ng-src="{[{organization.get_thumbnail}]}" />
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <h4 class="title">
                            Apply to {[{organization.get_display_name}]}
                        </h4>
                        <div class="description" ng-bind-html="organization.get_summary | sanitize"></div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-2">
                        Profile
                    </div>
                    <div class="col-sm-10">
                        <div class="primary-info">
                            <div class="small-logo pull-left thumbnail">
                                <span>
                                    <img src="{{ user.get_thumbnail_in_primary }}" />
                                </span>
                            </div>
                            <div class="pull-left">
                                <div>
                                    <strong>
                                        {{ user.get_display_name }}
                                    </strong>
                                </div>
                                <div>
                                    <small class="color-gray">{{ user.get_summary }}</small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-2">
                        Position
                    </div>
                    <div class="col-sm-10">

                        <div>
                            <strong>
                                {[{ job.title }]}
                            </strong>
                        </div>
                        <div>
                            <small class="color-gray">{[{ job.get_summary }]}</small>
                        </div>

                        <br/>

                        <div class="row">
                            <div class="col-sm-3">
                                <small class="color-lightgray">Experience</small>
                            </div>
                            <div class="col-sm-9">
                                <small class="color-gray">{[{ job.years_of_experience || 0 }]}+</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <small class="color-lightgray">Skills</small>
                            </div>
                            <div class="col-sm-9">
                                <small class="color-gray">{[{ job.skills }]}</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                <small class="color-lightgray">Contact</small>
                            </div>
                            <div class="col-sm-9">
                                <small class="color-gray" ng-bind-html="job.contact_information | sanitize"></small>
                            </div>
                        </div>

                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-sm-2">
                        Contact
                    </div>
                    <div class="col-sm-10">
                        <small class="color-gray" ng-bind-html="job.contact_information | sanitize">
                        </small>
                    </div>
                </div>

                <hr />

                <div>
                    <form action="{% url 'job_apply' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="job" value="{[{ job.id }]}" />
                        <div class="controls form-group">
                            <div class="field-container">
                                <textarea name="message" rows="4" maxlength="1000" class="form-control" placeholder="(optional) Write a note to {[{ organization.get_display_name }]} What excites you about {[{ organization.get_display_name }]}? Why would you be a good fit?"></textarea>
                                <div class="help-block">
                                    Please write your letter of intent here in 1000 characters
                                </div>
                            </div>
                        </div>

                        <div class="controls form-group group-action">
                            <div class="form-action">
                                <button class="btn btn-primary btn-orange btn-submit" type="submit">{% trans "Send Application" %}</button>
                                <a class="btn btn-default btn-cancel" data-dismiss="modal">{% trans "Cancel" %}</a>
                            </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}