{% extends 'base_pdf.html' %}

{% load static %}
{% load common_tags %}
{% load organization_tags %}

{% block content %}
<div id="top">
    <h1 class="heading1">
        Application for Investors from National Innovation Agency(NIA)
    </h1>
</div>

<div class="section1">
    <h3 class="title underline">Part1: General Details</h3>
    <div class="content">
    </div>
</div>

<div class="section2">
    <h3 class="title underline">Part2: Angel General Details</h3>
    <div class="content">
    </div>
</div>

<div class="section3">
    <h3 class="title underline">Part3: Angel: Financial Support and Investment: Funding Details</h3>
    <div class="content">
    </div>
</div>

<div class="section4">
    <h3 class="title underline">Part2: Venture Capitalist/Cooperate Venture Capital General Details</h3>
    <div class="content">
    </div>
</div>

<div class="section5">
    <h3 class="title underline">Part3: Venture Capitalist/Cooperate Venture Capital: Funding Details</h3>
    <div class="content">
    </div>
</div>
{% endblock %}