{% extends 'base_pdf.html' %}

{% load static %}
{% load common_tags %}
{% load organization_tags %}

{% block content %}
<div id="top">
    <h1 class="heading1">
        Application for Certification of Incubation/Acceleration Programs from National Innovation Agency(NIA)
    </h1>
</div>

<div class="section1">
    <h3 class="title underline">Part1: Program General Details</h3>
    <div class="content">
    </div>
</div>

<div class="section2">
    <h3 class="title underline">Part2: Program Personnel</h3>
    <div class="content">
    </div>
</div>

<div class="section3">
    <h3 class="title underline">Part3: Financial Support and Investment</h3>
    <div class="content">
    </div>
</div>

<div class="section4">
    <h3 class="title underline">Part4: Participants Details</h3>
    <div class="content">
    </div>
</div>

<div class="section5">
    <h3 class="title underline">Part5: Program Facilities</h3>
    <div class="content">
    </div>
</div>
{% endblock %}