.open > .btn-default.dropdown-toggle {
    background-color: #f5f5f5;
}
.btn-default {
    &:hover, &:focus, &:active, &.active { box-shadow: none; background-color: #f5f5f5;}
}

.role-filter .dropdown-menu a {
    &:hover, &:focus, &:active, &.active {
        background-color: $btn-pink-color;
        color: #fff;
    }
}

.role-filter .dropdown-menu li.active a {
    background-color: $btn-pink-color;
    color: #fff;
}

.dropdown-menu>li>a {
    &:hover, &:focus, &:active, &.active {
        background-color: $btn-pink-color;
        color: #fff;
    }
}

ul.dropdown-menu {
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0;
}

// focus outline
.form-control, .controls input, .controls textarea, .dropdown-toggle, .btn {
    &:focus {
        outline: 1px dotted;
        border-color: #e5e5e5;
        box-shadow: none;
    }
}

.btn-view {
    float: right;
    padding: 2px 10px;
    background-color: #E5E5E5;
    margin: 5px 0 0;
    &:hover, &:focus, &.active {
        background-color: #D5D5D5;
    }
}
.btn-delete {
    float: right;
}

.help-block { font-size: 13px;}
.btn-primary, .btn-default {
    border: 0;
    // font-family: Kanit;
    // font-family: $kanit-regular;
    border-radius: 0 !important;
    font-family: "Source Sans Pro", sans-serif !important;
    font-weight: bold !important;
}

.btn {
    &.-big {
        font-size: 18px;
        padding: 10px 22px;
        border-radius: 6px;
    }
    &.-full-width {
        width: 100%;
    }
}

.btn-primary {
    // background-color: $btn-yellow;
    background-color: #414042;
    color: #fff;
    padding: 8px 20px;
    &:hover, &:focus, &:active, &.active,
    &:active:hover, &:active:focus,
    &:active:active, &:active.active {
      // background-color: $btn-yellow-hover;
      background-color: #343335;
      color: #fff;
    }
}

.btn-outline {
    // font-family: $kanit-regular;
    padding: 7px 25px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    // border: 1px solid $main-color;
    border: 1px solid #979797;
    font-size: 15px;
    color: #0470B3;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        background-color: #f7f7f7;
        // background-color: $main-color;
        cursor: pointer;
    }
    &.-border {
        border-width: 2px;
        padding: 8px 22px;
    }
    &.-black {
        border: 2px solid #333;
        font-size: 18px;
        padding: 5px 35px;
        &:hover, &:active, &:focus {
            background-color: #333;
            border-color: #333;
            color: #fff;
        }
    }
}

.btn-facebook {
    // font-family: $kanit-regular;
    font-family: Kanit;
    background-color: $btn-facebook-color;
    padding: 10px 30px 10px 10px;
    color: #fff;
    &:hover, &:focus, &:active {
        background-color: $btn-facebook-color-hover !important;
        color: #fff !important;
        .icon-facebook {
            background-color: #fff;
        }
    }
    .icon-facebook {
        font-size: 22px;
        line-height: 19px;
        background: #fff;
        position: relative;
        width: 24px;
        height: 24px;
        top: 4px;
        margin-right: 6px;
      border-radius: 3px;
        &:hover, &:focus, &:active {
            background-color: #fff;
        }
    }
    .icon-facebook:before {
      content: "\e601";
      color: #3b5998;
      position: absolute;
      right: 4px;
      bottom: 0;
    }
}

.btn-linkedin {
    // font-family: $kanit-regular;
    font-family: Kanit;
    background-color: $btn-linkedin-color;
    padding: 10px 30px 10px 10px;
    color: #fff;
    &:hover, &:focus, &:active {
        background-color: $btn-linkedin-color-hover !important;
        color: #fff !important;
        .icon-facebook {
            background-color: #fff;
        }
    }
    .icon-linkedin {
        font-size: 22px;
        line-height: 23px;
        background: #fff;
        position: relative;
        width: 24px;
        height: 24px;
        top: 4px;
        margin-right: 6px;
      border-radius: 3px;
        &:hover, &:focus, &:active {
            background-color: #fff;
        }
    }
    .icon-linkedin:before {
      content: "\e600";
      color: $btn-linkedin-color;
      position: absolute;
      right: -1px;
      bottom: 0;
    }
}

.btn-orange, .btn-primary.btn-orange {
    @extend .btn-primary;
    padding: 8px 10px;
    margin-right: 10px;
    min-width: 185px;
    &:hover, &:focus, &:active, &.active, &:active:focus {
        // background-color: $btn-yellow-hover;
        background-color: #343335;
        color: #fff;
    }

}

.btn-primary.btn-orange.btn-request {
    background-color: #F23686;
    &:hover {
        background-color: darken(#F23686, 20%);
    }
}
.btn-default.btn-draft {
    background-color: #D1D8E0;
    margin-right: 10px;
    &:hover {
        background-color: darken(#D1D8E0, 20%);
    }
}

.btn-cancel {
    padding: 8px 30px;
    background-color: $btn-cancel-color;
    &:hover, &:focus, &:active, &.active { background-color: $btn-cancel-color-hover;}
}

.btn-grey {
    background-color: $btn-cancel-color;
    border-radius: 0;
    &:hover, &:focus, &:active, &.active {
        background-color: $btn-cancel-color-hover;
        box-shadow: none;
    }
}

.btn-green {
    background-color: #A4D06E;
    border-radius: 0;
    &:hover, &:focus, &:active, &.active {
        background-color: #61AC5A;
        box-shadow: none;
    }
}

.btn-pink {
    background-color: $btn-pink-color;
    border-radius: 0;
    &:hover, &:focus, &:active, &.active {
        background-color: $btn-pink-color-hover;
        box-shadow: none;
    }
}

.btn-red {
    background-color: #D83030;
    border-radius: 0;
    &:hover, &:focus, &:active, &.active {
        background-color: #D83030;
        box-shadow: none;
    }
}

.btn-transparent {
    border-radius: 0;
    background-color: transparent;
    color: #b5b5b5;
    border: 1px solid #e0e0e0;
    &:hover, &:focus, &:active, &.active {
        box-shadow: none;
        border-color: #e0e0e0;
    }
}

.btn-transparent.btn-verify {
    float: left;
    border-right: 0;
    &:hover, &:focus, &:active, &.active {
        background-color: #83B869;
        color: #fff;
    }
}

.btn-transparent.btn-reject {
    &:hover, &:focus, &:active, &.active {
        background-color: #ea4858;
        color: #fff;
    }
}

.btn-post {
    min-width: 85px;
    padding: 10px 0;
    margin-top: 20px;
}

.btn-follow {
    @extend .btn-outline;
    background-color: transparent;
    min-width: 120px;
    &:hover, &:active, &.active {
        background-color: $btn-yellow;
        color: #333;
        border: 1px solid $color-yellow;
    }
    &:focus, &:active:focus {
        background-color: #fff;
        border: 1px solid $color-yellow;
        outline: none;
    }
    &.following {
        background-color: $btn-yellow;
        color: #333;
        border: 1px solid $color-yellow;
    }
}

.btn-follow.following {
    background-color: $btn-yellow;
    &:hover, &:active, &.active { background-color: #eee; border-color: #ccc;}
}

.click-follow.following {
    background-color: $btn-yellow;
    color: #333;
    &:hover, &:focus, &:active, &.active {
        background-color: $btn-yellow;
        color: #333;
    }
}

@media (max-width: $screen-xs-max) {
    .btn-facebook  { font-size: 16px; }
    .btn-orange, .btn-cancel {
        padding: 8px 1.5em;
        font-size: 16px;
    }
    .btn-cancel { padding: 8px 1em;}
}

@media (max-width: 360px) {
    .btn-orange, .btn-cancel, .btn-pink, .joinnow, .viewmore, .findmore {
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
}

.form-control, .controls input, .controls textarea {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.controls textarea { height: auto; resize: none;}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #EEE;
    opacity: 1;
    box-shadow: 0px 1px 1px #CECECE inset;
    border-color: #CCC;
}

#edit-permalink { color: #999;}

.form-select {
    padding-top: 7px;
}

.select-date-wrapper select {
    @extend .form-control;
}





/******************************\
    Override File Upload Widget

    original css file: ROOT/files_widget/static/files_widget/css/widgets.css
\******************************/
.files-widget-dropbox { border: 0 !important;}
.files-widget-dropbox .message  {
    padding: 40px 0;
    display: inline-block;
    border: 1px dashed #ccc;
    margin: 10px 30px 0px 0 !important;
}

#image-dropbox {
    .buttons img {
        width: auto;
    }
}

.files-widget {
    input { height: auto; cursor: pointer;}
    a { cursor: pointer;}
}
.files-widget-dropbox .image-holder > img.thumbnail {
    width: 100%;
    margin-bottom: 0 !important;
}
// .upload-cover-image .image-holder {
//     width: 100%;
// }

// user-profile-settings
// URL: people/xxxx/edit/
.profile-setting__picture,
.hide-file-name {
    .file-name {
        display: none;
    }
}

// file deleted
.files-widget-deleted .deleted-file {
    height: auto;
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    justify-content: stretch;
    align-items: center;

    .icon {
        width: 100%;
    }
    .name {
        font-size: 0.8em;
        white-space: normal !important;
        line-height: 1.42857143;
    }
    .undo {
        .btn {
            margin-left: 0.5em;
        }
    }
}

/******************************/

.controls .prettycheckbox, .controls .prettyradio {
    label {
        margin: 6px 5px 0 0;
        font-size: 14px;
        padding-left: 5px;
    }
}

.controls .prettyradio { margin-right: 5px !important;}

.checkbox-country {
    .checkbox {
        // -moz-column-count: 2;
        // -moz-column-gap: 3em;
        // -moz-column-width: 150px;
        -webkit-column-count: 2;
        -webkit-column-gap: 3em;
        -webkit-column-width: 150px;
        column-count: 2;
        column-gap: 3em;
        column-width: 150px;
        min-height: 350px;
    }
    ul { overflow: hidden;}
    li {
        width: 150px;
        float: left;
        margin-right: 70px;
    }
    li:nth-child(2n-1) {
        clear: both;
    }
}

.display-link-control {
    padding: 9px 0 0;
}
.signin-popup .modal-header { padding: 15px;}

// SIGN IN popup form
.signin-popup, .base-popup, .signin-form-wrapper {
    max-width: 500px;
    .modal-title {
      font-size: 34px;
      font-family: "league_gothic";
      font-weight: 400;
      text-transform: uppercase;
    }
    .modal-content { padding: 15px 40px 10px; min-height: 300px;}
    .modal-header {
        // margin-bottom: 10px;
        padding: 15px;
    }
    .modal-body {
      // margin-top: 20px;
      padding: 15px;
    }
    .modal-footer { text-align: center;}
    .btn-wrapper {
        text-align: center;
        margin: 35px 0 20px;
    }
    .form-group {margin: 25px 0 0;}
    .btn { margin-bottom: 10px;}
}

.modal-body form { margin-bottom: 50px;}

@media (max-width: $screen-xs-max) {
    .signin-popup .modal-content, .base-popup .modal-content { padding: 1em;}
}

.form-signin {
    margin-top: 50px;
    .controls {
        overflow: hidden;
        margin-top: 10px;
        label { font-size: 14px;}
    }
}

@media (max-width: 480px) {
    .signin-popup {
        .modal-body { margin-top: 0;}
    }
    .form-signin {
        margin-top: 0;
    }
}

.link-reset-password {
    display: block;
    margin-top: 6px;
}

.link-signup {
    color: #333;
    font-size: 18px;
    display: block;
    text-align: center;
    text-decoration: underline;
    &:hover, &:focus, &:active { color: #333;}
}

// form search
.form-search {
    padding-top: 50px;
    .text-input {
        border: 1px solid #ccc;
        background-color: #fff;
        width: 100%;
    }
    .select {
        max-width: 157px;
        margin: 0 1em 1em 0;
    }
}

.filter-selector { margin-top: 1.5em;}
.filter-selector .text {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.search-submit {
    height: 45px;
    display: inline-block;
    float: right;
    font-size: 16px;
}
@media (max-width: $screen-xs-max) {
    .form-search .select { width: auto; min-width: 110px;}
    .form-search { width: 100%; padding-top: 0;}
    .filter-selector { margin-top: 1em;}
    .search-submit { margin-top: 0; min-width: 90px;}
}

@media (max-width: $screen-smartph-max) {
    .form-search .select { width: 100%; max-width: initial;}
    .filter-selector { width: 100%;}
}

@media (max-width: 640px) {
    .search-submit { margin: 1em 0;}
}

// Party filter
.select-modify {
    position: relative;
    .dropdown-toggle {
        background-color: transparent;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        min-width: 140px;
        padding-right: 30px;
        text-align: left;
        position: relative;
        font-family: $kanit-regular;
        font-size: 20px;
        display: block;
    }
    .caret {
        position: absolute;
        right: 15px;
        top: 20px;
    }
}

.filter-selector {
    .dropdown-toggle {
        font-size: 14px;
        width: 100%;
        height: 45px;
        min-width: initial;
        padding-top: 15px;
        font-family: $kanit-bold;
    }
    .select-modify {
        width: 22.333333%;
        display: inline-block;
        margin-right: 2em
    }
    .caret { top: 25px;}
}

@media (max-width: 640px) {
    .filter-selector  {
        .select-modify {
            width: 100%;
        }
        .dropdown-menu {
            width: 100%;
            position: relative;
        }
    }

    .search-submit { width: 100%;}
}


.search-wrapper {
    width: 740px;
    margin: 0 0 50px;
    .nav-tabs.nav-justified > li {
        border-bottom: 1px solid #e5e5e5;
    }
    .nav-tabs.nav-justified > li > a,
    .nav-tabs.nav-justified > .active > a{
        border: 0;
        background-color: transparent;
        &:hover, &:focus, &:active, &.active {
            border: 0;
            border-bottom: 3px solid #ccc;
            background-color: transparent;
        }
    }
    .nav-tabs.nav-justified > .active > a { border-bottom: 3px solid #ccc;}
}

@media (max-width: $screen-md-min) {
    .search-wrapper { width: 670px;}
}

@media (max-width: 768px) {
    .search-wrapper {
        width: 100%;
        padding: 1em;
    }
}

@media (max-width: 640px) {
    .search-wrapper {
        padding: 0 1em 1em;
    }
}

@media (max-width: $screen-smartph-max) {
    .search-wrapper {
        width: auto;
        padding: 0;
        .nav-tabs.nav-justified > li {
            border-bottom: 1px solid #e5e5e5;
        }
        .nav-tabs.nav-justified > li > a { color: #777; display: block;}
        .nav-tabs.nav-justified > li > a,
        .nav-tabs.nav-justified > .active > a{
            border-bottom: 0;
            &:hover, &:focus, &:active, &.active {
                border-bottom: 0;
                color: #333;
            }
        }
        .nav-tabs.nav-justified > .active > a { color: #333;}
    }
}

// Search form
.role-filter {
    width: 25%;
    float: left;
    // @include box-sizing(border-box);
}

@media (max-width: 640px) {
    .role-filter {
        width: 100%;
        &.open .dropdown-menu { position: relative;}
    }
}

.btn-role {
    border-radius: 0;
    height: 40px;
    box-sizing: border-box;
    display: table-cell;
    background-color: #efefef;
    text-align: left;
    width: 170px;
    font-weight: bold;
    position: relative;
    letter-spacing: 0;
    .icon {
        position: absolute;
        right: 5px;
        top: 13px;
    }
}

@media (max-width: 640px) {
    .btn-role {
        width: 100%;
        display: block;
        background-color: transparent;
        border-bottom: 1px solid #ccc;
    }
}

.role-input-wrapper {
    border: 1px solid #ccc;
    .text-input {
        width: 68%;
        border: 0;
        color: #333;
    }
    .icon-search {
        width: 5%;
        display: inline-block;
        float: left;
        padding-left: 10px;
        color: #333;
        &:hover { color: #333;}
    }
}

@media (max-width: 640px) {
    .role-input-wrapper {
        border: 0;
        .icon-search { display: none;}
        .text-input {
            width: 100%;
            margin: 10px 0 0px;
            border: 1px solid #ccc;
            float: left;
        }
        .dropdown-menu { width: 100%;}
    }
}


// Tab pane
.tab-form { min-width: 195px;}

.form-sidebar-container {
    // padding: 10px 15px;

    .alert {
        margin-bottom: 0;
    }
}

@media (max-width: $screen-md-max) {
    // .form-sidebar-container { padding: 40px 15px;}
}

@media (max-width: 767px) {
    .tab-form { min-width: initial; width: 100%;}
    .tab-form {
        .nav-stacked {
            height: 160px;
            overflow-y: auto;
            margin-bottom: 20px;
        }
    }
    .content-focus { width: 100%;}

    .sidebar-left.stick-in-parent.is_stuck {
        position: static !important;
        width: 100 !important;
    }
}

.tab-pane {
    padding: 30px;
    border: 1px solid #e8e8e8;
    min-height: 380px;
}

.nav-stacked {
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
}
.nav-stacked > li.active a {
    background-color: #e4e4e4;
    color: $font-body-color;
    &:hover, &:focus, &:active, &.active { background-color: #e4e4e4; color: $font-body-color;}
}
.nav-stacked > li {
    &:hover, &:focus, &:active, &.active { background-color: #e4e4e4; color: $font-body-color;}
}
.nav-stacked > li + li { margin-top: 0;}
.inst-status {
    background-color: #fafafa;
    overflow: hidden;
    border: 1px solid #e8e8e8;
}

.tab-title {
    font-size: 24px;
    margin: 0 0 30px;
}

.group-action {
    margin: 20px 0;
}

.form-publishing {
    .prettyradio { display: block;}
}

.ico-edit {
    margin: 0 0 20px;
}

// Create Portfolio
.popup-create-link-wrapper { margin: 10px 0;}
.autocomplete-add-another {
    display: inline-block;
    .glyphicon-plus { font-size: 12px; }
}

// Group Need form
.type-of-need-group-filter {
    font-family: $kanit-bold;
    padding: 10px 20px;
}

.type-of-need-group-label {
    font-family: $kanit-bold;
    margin: 10px 0;
    font-size: 16px;
}

.controls input.add_more {
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    display: inline-block;
    margin-left: 5px;
    text-decoration: underline;
    &:hover, &:focus, &:active, &.active {
        text-decoration: underline;
    }
}

.field-container {
    ol { padding: 0;}
    ul li { padding: 0;}
}

.tab-pane {
    .form-group { overflow: hidden;}
}

// form edit tab section
.link-section {
    overflow: hidden;
    .title-section {
        width: 60%;
        float: left;
    }
    .help-block { display: inline-block; clear: both;}
}

// form select fix height
#id_sector_activities, #id_productservice_type { max-height: 420px;}

#organization-section1,
#organization-section2,
#organization-section3,
#organization-section4,
#organization-section5 {
    .help-block { display: none;}
}

#id_gender_of_representative .has-pretty-child:first-child { display: none;}

.form-testimonial {
    padding: 2em;
    background-color: #f6f6f6;
    margin: 0 0 60px;
    label { margin-bottom: 20px;}
}

// Pretty Checkbox
.prettycheckbox, .prettyradio {
    position: relative;
    padding-left: 30px !important;
    a {
        position: absolute;
        top: 0;
        left: 0;
    }
}

// Experience add
.deck {
    display: block;
}
.autocomplete-light-widget .deck [data-value] .remove {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -11px;
    opacity: 0.7;
    &:hover {
        background-position: 0 3px !important;
        opacity: 1;
    }
}

.experience-reference-wrapper {
    display: inline-block;
    margin-left: 10px;
    .reference-span {
    }
    
}
.autocomplete-light-widget .deck > span[data-value] .reference-span {
    margin-left: 0 !important;
    &.job-title {
        font-family: $kanit-regular;
        display: block;
    }
}

.autocomplete-light-widget {
    .autocomplete-add-another {
        font-family: $kanit-light;
        font-size: 12px;
        color: #999;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    img { border: 1px solid #ccc;}
}

#id_experiences-deck {
    .reference-wrapper img {
        border: 1px solid #ccc;
        width: 40px;
    }
}

#edit_id_portfolios,
#edit_id_experiences {
    opacity: 0;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    border-radius: 3px;
    padding: 3px 5px;
}
.autocomplete-light-widget .deck [data-value]:hover {
    
    #edit_id_experiences {
        opacity: 1;
    }
}

/*****/

.inline-create-link-wrapper {
    margin-top: 10px;
}

.yourlabs-autocomplete {
    img {
        border: 1px solid #ccc;
    }
}
.yourlabs-autocomplete .choice,
.yourlabs-autocomplete [data-value],
.yourlabs-autocomplete em {
    overflow: hidden;
}

// field beneficiary
.field-name-target_beneficiary {
    .has-pretty-child:last-child {
        height: 32px;
        overflow: hidden;
    }
}

#id_measurement_year_values {
    select { margin-bottom: 5px;}
    .input-wrapper + .input-wrapper {
        display: inline-block;
        width: 32.33333%;
    }
}

.table-sortable {
    h4 { margin-bottom: 20px;}
    .image .small-logo {
        width: 50px;
        margin: 0;
    }
    .image span { height: 50px; width: 50px;}
    tbody > tr > td { vertical-align: middle;}
}

.table-sortable {
    thead a {
        font-family: $kanit-bold;
        font-weight: normal;
    }
}

.form-addsort { width: 50%;}
@media (max-width: $screen-xs-max) {
    .form-addsort { width: 100%;}
}

// ui sort able
.ui-sortable tr {
    cursor: move;
    background-color: #f9f9f9;
}
.ui-sortable td.priority input {
    border: none;
    background: transparent;
    max-width: 50px;
    text-align: center;
    cursor: move;
}

.ui-sortable td.promote {
    text-align: center;
}

.ui-sortable-helper tr { background-color: #fff;}

// Section3 Finance Section
#organization-section3 {
    #id_top_3_major_investors_year_and_amount, #id_top_3_major_donors_year_and_amount {
        .input-wrapper {
            display: inline-block;
            width: 80%;
        }
        .input-delete {
            display: inline-block;
            float: right;
        }
    }
}

#organization-section3, #organization-section4 {
    .group-field-name {
        width: 44%;
        display: inline-block;
        margin-right: 5%;
    }
}

.field-name-potential_size_of_investment { width: 50%;}

@media (max-width: $screen-md-min) {
    .tab-content > .active { min-height: initial !important;}
}

.testimonials .btn-no-bg {
    padding: 8px 14px;
    margin: 0px 10px 40px 0;
    text-transform: uppercase;
    font-size: 13px;
    .icon-mail2, .icon-bubble {
        line-height: 15px;
        font-size: 21px;
        position: relative;
        top: 4px;
    }
}

.invite-link {
    padding: 10px 0;
    display: inline-block;
    margin-top: 25px;
    float: right;
    font-size: 14px;
}

.range-input-container {
    .alert {
        clear: both;
        margin-top: 10px;
        float: left;
        width: 100%;
    }
}

.-content-form-small {
    .page-title {
      margin: 10px 0 20px;
      font-size: 34px;
      font-family: "league_gothic";
      font-weight: 400;
      text-transform: uppercase;
    }
    .form-signin { margin-top: 20px;}
    .form-signin { margin-top: 20px;}
    .link-footer { margin-top: 20px;}
    .btn-wrapper {margin: 10px 0 20px; }
}

.checkbox > ul{
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 10px;
}

.form-group .checkbox ul {
    overflow-y: auto;
    max-height: 300px;
    padding: 0 10px 10px;
}

.form-group .checkbox.-resize > ul {
    padding: 10px;
    max-height: none;
    > li {
        margin-bottom: 0;
        input {
            margin-top: 4px;
        }
        label {
            line-height: 24px;
            display: inline;
        }
    }
}

.form-group .checkbox.--display-flex > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    > li {
        width: 180px;
        input {
            margin-top: 1px;
        }
        label {
            line-height: 22px;
        }
    }
}





/* -------------------------------- *\
        Files Widget dropbox
\* -------------------------------- */

.files-widget .controls {
    overflow: hidden;
    margin-bottom: 0;
}
.files-widget-dropbox .message {
    margin: 20px 0px 20px 0 !important;
}
.fake-files-input {
    @extend .btn-form;
    overflow: visible !important;
    @media (max-width: 420px) {
        margin-bottom: 10px;
    }
}
.fake-files-input, .add-by-url-button {
    @extend .btn-form;
    min-width: 130px !important;
    @media (max-width: 767px) {
        padding: 5px 10px !important;
        min-width: initial !important;
    }
}
.files-widget-deleted p {
    font-size: 13px;
    color: #737373;
    padding: 0 !important;
    border: none;
}





/* -------------------------------- *\
        Form Horizontal
\* -------------------------------- */

@media (max-width: $screen-xs-max) {
    .form-horizon {
        .control-label {
            margin-bottom: 5px;
        }
    }
}

.form-horizontal {
  label.control-label {
    font-weight: normal;
    font-size: 16px;
  }
}

.form-horizontal {
    h3.control-label {
      font-size: 30px;
      font-family: "league_gothic";
      font-weight: 400;
      text-transform: uppercase;
    }
}





/* -------------------------------- *\
        Check box display flex
\* -------------------------------- */
.point-form .checkbox ul.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    > li {
        width: 33.3333%;
    }
}





/* -------------------------------- *\
        Key Persons
\* -------------------------------- */
.ref-wrapper {
    vertical-align: middle;
    display: inline-block;
    padding: 8px;
    > .ref-label {
        display: block;
        font-size: 13px;
        color: #A5A5A5;
    }
}
.people-reference-wrapper {
    > span {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
    }
    > span > .ref-wrapper {
        width: 25%;
        word-wrap: break-word;
    }
}
#organization-admins .people-reference-wrapper {
    display: flex;
    align-items: center;
    .reference-span {
        margin-right: 8px;
    }
}





/* -------------------------------- *\
        Style for field.html
\* -------------------------------- */
.field-name-office_type {
    .field-container {
        > ul {
            margin: 0;
            overflow: hidden;
            input {
                margin-top: 1px;
                margin-right: 5px;
            }
            label {
                line-height: 24px;
            }
        }
        > ul > li {
            float: left;
            margin-right: 20px;
            label {
                padding-left: 0;
            }
        }
    }
}





/* -------------------------------- *\
        Description upload image field
\* -------------------------------- */
.description-upload-image {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
    .left {
        flex-grow: 1;
        margin-right: 10%;
        @media (min-width: 768px) {
            margin-right: 15%;
        }
    }
    .left .files-widget-dropbox {
        overflow: hidden;
        .message {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
    .left .controls {
        margin-bottom: 0;
    }
    .right {
        padding: 15px;
        background-color: #f8f8f8;
        border-radius: 5px;
    }
}





/* -------------------------------- *\
    Achievement form reminder text
\* -------------------------------- */
.achievement-reminder {
    padding: 15px;
    font-size: 0.85em;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
    background-color: rgba(255, 0, 0, 0.04);
}