// VIEWS
// Views are elements display in your blocks.
// Look like list. and you sort it differently (by type,taxanomy, term).

.thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
}
.item-list {
    padding: 0;
    li { list-style: none; }
}

.item {
    .title {
        font-size: 16px;
        line-height: 21px;
        margin-top: 15px;
    }
    .thumbnail {
        margin-bottom: 0;
    }
    .organization {
        font-family: $kanit-regular;
        margin: 3px 0 5px;
    }
}

.description {
    color: $font-desc-color;    
}

@media (max-width: $screen-md-min) {
    .time-update { text-align: left;}
}

.viewall,
.loadmore,
.findmore,
.joinnow {
    @extend .btn-outline;
}

.findmore {
    margin: 0;
}

.loadmore-wrapper {
    min-height: 50px;
    &:hover, 
    &:focus {
        text-decoration: none;
    }
    img { 
        width: auto;
    }
    &.full {
        text-align: center;
        display: block;
    }
}

.full .loadmore { 
    display: block;
    margin: 0 auto;
}

.joinnow {
    background-color: #f08f89;
    color: #fff;
    font-size: 18px;
    margin-top: 0;
    min-width: 95px;
    &:hover,
    &:focus,
    &:active,
    &.active { 
        color: #fff;
        background-color: #ee7d77;
    }
}

@media (max-width: 360px) {
    .joinnow {
        float: none !important;
        width: 100%;
        margin: 1em 0;
    }
    .join-wrapper {
        width: 100%;
    }
}

.bullet .item {
    position: relative;
    .title {
        padding-left: 16px;
    }
}

.level-1 { 
    margin-left: 12px;
    color: #555;
    .title {
        font-family: $kanit-regular;
    }
}

.bullet .level-1:before {
    opacity: 0.8;
}

// Block Experience
.listview-item {
    overflow: hidden;
    margin-top: 45px;
    .thumbnail a { 
        width: 100%;
    }
    &.user-image.thumbnail img {
        border: 1px solid #ddd;
    }
    .thumbnail { 
        width: 25%;
        max-width: 60px;
        margin-right: 3%;
        display: inline-block;
    }
    .group-infomation {
        width: 78%;
        display: inline-block;
    }
}

.user-image .small-logo span {
    width: auto;
    height: auto;
}

.followers-item {
    .user-image .small-logo span {
        width: auto;
        height: auto;
    }
    .small-logo span {
        width: 60px;
        height: 60px;
    }
    .title { margin-top: 0;}
}

.position { 
    font-size: 18px;
    margin: 0;
}

.experience-item {
    margin-top: 10px;
    &:first-child { 
        margin-top: 40px;
    }
    .small-logo span {
        width: 40px;
        height: 40px;
        border-color: #EAEAEA;
    }
    .date {
        font-size: 14px;
    }
    dt {
        width: 160px;
        text-align: left;
    }
    .organization {
        font-size: 15px;
        margin: 0;
    }
    .position {
        color: #999;
        font-size: 15px;
    }
    .description {
        font-size: 14px;
    }
    .date,.description {
        font-family: $kanit-light;
        color: #bbb;
    }
}

@media (max-width: $screen-xs-max) {
    .experience-item {
        .group-infomation {
            width: 75%;
            padding-right: 30px;
        }
        dt { 
            width: auto;
        }
    }
}
// Block Support
.country {
    font-size: 14px;
    color: #666;
}

.support-item {
    margin-bottom: 2em;
} 

// Interesting list 
.bullet {
    .block-title {
        margin-bottom: 1em;
    }
}

.bullet .title { 
    display: inline-block;
    font-size: 14px; 
    margin: 0;
}

// Happen list
.happen-item {
    margin-bottom: 1.5em;
}
.block-happening .viewall {
    margin-top: 0.5em;
}

@media (max-width:320px) {
    .block-feature .item {
        width: 98%;
        margin: 0px 1% 2em;
    }
}

// People list
.block-col-3, .block-col-4 {
    .item {
        .title {
            margin: 15px 0 0;
            overflow: hidden;
        }
    }
}
.block-col-3 .item {
    width: 31.481%;
    margin: 0px 0 0.925%;
    padding-bottom: 20px;
    .thumbnail {
        min-height: 120px;
        display: table;
    }
    .thumbnail a {
        display: table-cell;
        vertical-align: middle;
    }
}

.block-col-3 {
    .organization-image, .user-image {
        img {
            max-width: 158px;
            max-height: 120px;
        }
    }
}




/* ------------------------------ *\
    // Block col 3 thumbnail
\* ------------------------------ */
@media (max-width: $screen-sm-max) {
    .block-col-3 .item {
        .thumbnail, .thumb-nail {
            min-height: 90px;
            .vertical-middle {
                height: 90px;
            }
            img { max-width: 90px;}
        }
    }
}

// .block-col-3.-no-title {
//     .item {
//         width: 33.333333%;
//         margin: 0;
//     }
//     .grid-view-thumbnail {
//         border: 0;
//         background-color: transparent;
//     }
// }


.block-col-4 .item {
    width: 25%;
    margin: 0px 0 0.925%;
    padding-bottom: 20px;
    max-width: 190px;
    .thumbnail {
        height: 120px;
        display: table;
    }
    .thumbnail a { 
        display: table-cell;
        vertical-align: middle;
    }
    .thumbnail img {
        max-width: 158px;
        max-height: 120px;
        width: auto;
    }
}

@media (max-width:$screen-xs-max) {
    .block-col-4 .party-item {
        .grid-view-thumbnail {
            min-width: 140px;
        }
        .thumbnail {
            height: 107px;
        }
        .thumbnail img {
            max-width: 110px;
            max-height: 110px;
        }
    }
}

@media (max-width: 320px) {
    .block-col-4.block-organization .item-list .party-item .thumbnail img {
        max-width: 158px;
        max-height: 120px;
    }
}

@media (min-width: 1201px) {

    .block-col-4 { 
        
        .item {
            margin: 0px 2.5em 0.925%;
        }

        .item-list {
            margin: 0 -3.5em;
        }
    }
}

.organization-image {
    .thumbnail .middle { height: 120px;}
}

// Block People
.people-item {
    min-height: 225px;
}
.organization-item {
    min-height: 225px;
}
.block-col-3 .porfolio-item { 
    max-width: 165px;
    .thumbnail {
        // min-height: 80px;
        min-height: initial;
    }
}

@media (max-width: $screen-small-phone) {
    .portfolio-list {
        margin: 0;

        .porfolio-item {
            margin-bottom: 0 !important;
        }
    }    
}


@media (min-width: 641px) {
    .large-clear { 
        clear: both;
    }
}

@media (max-width: 640px) {
    // .people-item, .block-col-3 .item {
    //     width: 41.481%;
    //     margin: 0 3.925% 0.925%;
    //     padding: 0 0 20px;
    // }
     .block-col-4 .item {
        width: 33%;
        margin: 0 0 0.925%;
     }
    .medium-clear {
        clear: both;
    }
}

@media (max-width: 480px){
    .block-col-4 .item {
        width: 50%;
        max-width: initial;
    }   
    .medium-clear { 
        clear: none;
    }
    .small-clear { 
        clear: both;
    }
}

@media (max-width: 320px) {
    .people-item, .block-col-3 .item {
        margin: 0px 2% 2em;
        width: 95%;
        max-width: initial;
    }
    .block-col-4 .item {
        width: 100%;
    }
}

// Override block people 
.block-col-4.block-people .item {
    .thumbnail { 
        height: auto;
    }
}

.party-item.user-image  .grid-view-thumbnail, 
.block-people .people-item .grid-view-thumbnail { 
    border: 0; 
    background-color: transparent;
}

@media (max-width: 480px) {
    .block-col-3 {
        .user-image .grid-view-thumbnail img {
            width: 100%;
            height: auto;
            max-width: initial;
            max-height: initial;
        }
    }
}

@media (max-width: 380px) {
    .party-item.user-image {
        .thumbnail img {
            max-width: initial;
            max-height: initial;
            width: 100%;
        }
    }
}

// list meeting
.block-col-2.block-feature {
    .item {
        width: 44%;
        max-width: 300px;
    }
}

@media (min-width: $screen-sm-max) {
    .block-col-2.block-feature .item {
        width: 45%;
        margin: 0 1em 2em;
        &:nth-child(2n),
        &:first-child + .item,
        &:first-child + .item + .item + .item,
        &:first-child + .item + .item + .item + .item + .item {
            margin-right: 0;
        }

        &:nth-child(2n+1),
        &:first-child + .item + .item,
        &:first-child + .item + .item + .item + .item { clear: both;}
    }
}

@media (min-width: $screen-xs-max) and (max-width: 991px) {
    .block-col-2.block-feature .item {
        width: 28%;
        
        &:nth-child(2n),
        &:first-child + .item + .item,
        &:first-child + .item + .item + .item + .item + .item {
            margin-right: 1em;
        }

        &:nth-child(3n+1),
        &:first-child + .item + .item + .item { clear: both;}
    }
}

@media (max-width: $screen-xs-max) {
    .block-col-2.block-feature .item {
        width: 45%;
        margin: 0 2.926% 5.926%;
        &:nth-child(2n),
        &:first-child + .item,
        &:first-child + .item + .item + .item,
        &:first-child + .item + .item + .item + .item + .item {
            margin-right: 0;
        }

        &:nth-child(2n+1),
        &:first-child + .item + .item,
        &:first-child + .item + .item + .item + .item { clear: both;}
    }
}

@media (max-width: 420px) {
    .block-col-2.block-feature .item {
        max-width: initial;
        padding: 0 15px;
        margin: 0 0 2em;
        width: 100%;
    }
}


.block-feature .findmore { margin-top: 2em;}
.block-feature .item {
    max-width: 280px;
    background-color: #fff;
    margin: 0 0.75em 0.925%;
    padding: 0;
    width: 29%;
    .thumbnail { 
        display: table;
        margin: 0 auto;
        border: 0;
    }
}

.feature-item {
    .title { 
        margin: 15px 0 0;
    }
    .description { 
        margin-top: 10px;
    }
    .thumbnail a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}


.block-feature {
    .organization-image img {
        max-width: 158px;
        max-height: 120px;
    }
    .user-image img {
        max-height: initial;
        max-width: 100%;
    }
    &.se-focus .party-item .thumbnail { 
        height: 205px;
    }
}

@media (min-width: 1201px) {
    .block-feature .item-list { 
        margin: 0 -25px;
    }
    .block-feature .item {
        width: 31.481%;
        margin: 0 2em 0.925%;
    }
}

@media (max-width: $screen-xs-max) {
    .block-feature .item-list {
        margin: 0 -15px;
    }
    .block-feature.se-focus .party-item .thumbnail { 
        height: 155px;
    }
}

.organization-image .feature-wrapper .thumbnail img { 
    width: auto;
}

// Overide for party feature
.block-feature .party-item {
    .thumbnail {
        border: 0;
        height: 170px;
        margin: 0 auto;
    }
    &.user-image { 
        max-height: initial;
    }
}

@media (max-width:768px) {
    .block-feature .party-item .thumbnail {
        height: 120px;
    }
}

@media (max-width:420px) {
    .block-feature .party-item .thumbnail {
        height: 170px;
    }   
}

// Organization item
.organization-list {
    .organization-item {
        margin-bottom: 1.75em;
        border-bottom: 2px solid #e0e0e0;
    }
}
.organization-item {
    .description { 
        margin-top: 20px;
    }
}

// Block Supporter
.block-supporter  {
    .organization-item { 
        border-bottom: 0;
    }
}

// happening timeline
.happen-list {
    position: relative;
    z-index: 0;

    >.-detailpage {
        margin-top: 50px;
    }

    .item {
        position: relative;
        margin-top: 30px;
    }
    .item:first-child {
        margin-top: 0;
    }
}
.happen-list:before {
    content: '\00a0';
    width: 1px;
    height: 100%;
    left: 35px;
    position: absolute;
    background-color: #e0e0e0;
    z-index: -1;
}

.block-happening {
    .loadmore {
        display: block;
        //margin-right: 20px;
    }   
}

.block-happening, 
.block-happening-detail {
    .loadmore-wrapper { 
        margin: 20px 0;
        display: block;
        text-align: center;
    }
}

.block-happening-detail {
   .loadmore { border-width: 2px;} 
}

.item-happening {
    margin-bottom: 20px;
}

@media (max-width: $screen-md-min) {
    .block-happening, .block-happening-detail {
            .loadmore-wrapper {
                width: 97.333333%;
            }
            .loadmore {
                // margin-right: 10px;
            }
        }
}

@media (max-width: 640px) {
    .block-happening, .block-happening-detail {
        .loadmore-wrapper {
            margin-left: 0;
            width: 100%;
        }
        .loadmore {
            // margin: 0 15px 0 0;
        }
    }
}

// Happen After login
.box-happening {
    border: 1px solid #ccc;
    border-radius: 4px;
    .group-profile {
        overflow: hidden;
        padding: 15px;
        h3 { 
            margin: 0 0 10px;
            font-size: 18px;
        }
        .description { font-size: 12px;}
    }
    .group-profile .thumbnail { 
        width: 80px;
    }
    .group-info { 
        margin-left: 95px;
    }
}

.box-happening { 
    position: relative;
    background-color: white;
    .required-approval {
        top: auto;
        bottom: 5px;
        right: 5px;
    }
}


.testimonial-text p:first-child:before {
    font-family: 'icomoon';
    content: "\e60c";
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonial-text {
    margin-top: 20px;
    position: relative;
    padding-left: 25px;
    color: #666;
    font-size: 14px;
}

.happening-header {
    padding: 10px 15px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #E7E7E7;
    .love-action {
        position: absolute;
        width: auto;
        right: 0;
        top: 0;
    }
    .happening-title { 
        width: 80%;
        @media (max-width: 400px) {
            width: 100%;
        }
    }
    .date { 
        font-size: 11px;
        @media (max-width: 400px) {
                float: none !important;
                clear: both;
                margin-top: 5px;
        }
    }
}

.happening-title { 
    @extend .kanit-light;
    color: $font-desc-color;
    font-size: 15px;
    strong {
        @extend .kanit-regular;
        font-weight: 100;
    }
}
.happening-title > a { @extend .kanit-medium;}
.happening-title > .noti-data { 
    @extend .kanit-light; 
    font-size: 15px;
    text-decoration: underline;
}
.noti-data { 
    @extend .kanit-light;
    font-size: 14px;
    color: $font-desc-color;
    margin-left: -4px;
    display: inline;
}

.block-happening-detail {
    .box-happening:before {
        border-right: 10px solid #fff;
    }
}

// @media (max-width: $screen-md-min) {
//     .block-happening-detail {
//         .box-wrapper { 
//             width: 83%;
//         }
//     }
//     .block-happening .box-wrapper {
//         width: 83%;
//     }
// }

@media (max-width: 640px) {
    .block-happening-detail, 
    .block-happening {
        .box-wrapper { 
            clear: both; 
            width: 100%;
            // padding-right: 0;
        }
    }
}

.party-item {
    .grid-view-thumbnail {
        text-align: center;
        border: 1px solid #ccc;
        background-color: #fff;
        // min-width: 160px;
    }
    .thumbnail { 
        margin: 0 auto;
    }
    .description { 
        margin-top: 5px; 
        font-size: 14px;
    }
}

.party-list { 
    clear: both;
}

// Search list [list - view]

.list-view .country:before {
    content: '\00a0\2014\00a0';
}

// logo thumbnail
.small-logo {
    max-width: 100px;
    margin-right: 30px;
    width: 100px;
    text-align: center;
    background-color: #fff;
    span {
        height: 100px;
        min-height: 100px;
        width: 100px;
        display: table-cell;
        vertical-align: middle;
        border: 1px solid #ccc;
    }
}

@media (max-width: 640px) {
    .small-logo { 
        margin-right: 20px;
    }
}





/* ------------------------------ *\
// logo thumbnail invested by
\* ------------------------------ */

.f-small-logo {
    max-width: 50px;
    margin-right: 30px;
    width: 50px;
    text-align: center;
    background-color: #fff;
    span {
        height: 50px;
        min-height: 50px;
        width: 50px;
        display: table-cell;
        vertical-align: middle;
        border: 1px solid #ccc;
    }
    + .group-info {
        margin-left: 80px;
        @media (max-width: 640px) {
            margin-left: 70px;
        }
        .title {
            margin-top: 0;
            margin-bottom: 3px;
        }
    }
}

@media (max-width: 640px) {
    .f-small-logo { 
        margin-right: 20px;
    }
}

.list-view { 
    overflow: hidden;
}

@media (max-width:480px) {
    // .small-logo, 
    // .small-logo span { 
    //     width: 80px; 
    //     height: 80px;
    // }
    .group-info { 
        margin-left: 100px;
    }
}

// full-profile 
.full-profile {
    position: relative;
    .block-title { 
        font-size: 24px; 
        margin-bottom: 60px;
    }
    content-item {
        display: block;
        margin-bottom: 40px;
    }
    dd {
        ul { 
            padding: 0; 
            list-style: none;
        }
        ul li, 
        ul li * { 
            display: inline;
        }
    }
}

.full-profile dd li.name-title-officer {
    padding: 0;
    margin-bottom: 35px;
    display: block;
    &:before { 
        content: none;
    }
    &:last-child { 
        margin-bottom: 0;
    }
    .sub-title { 
        color: #999; 
        display: block;
    }
}

.full-profile {
    dt { 
        width: 240px;
        text-align: left;
    }
    dd {
        margin-left: 290px;
    }
    .table { 
        >thead>tr>th,
        >tbody>tr>th,
        >tfoot>tr>th,
        >thead>tr>td,
        >tbody>tr>td,
        >tfoot>tr>td { 
            padding: 15px 20px;
        }
    }
    tbody tr:last-child { 
        border-bottom: 1px solid #ddd;
    }
    .table-responsive { 
        margin: 50px 0;
    }
}

.section-count { 
    margin-bottom: 10px;
}

.full-profile img { 
    max-width: 205px;
}
.full-profile iframe {
    width: 260px;
    height: 190px;
}

@media (max-width: $screen-md-max) {
    .full-profile dd { 
        margin-left: 260px;
    }
}

@media (max-width: $screen-xs-max) {
    .full-profile dd { 
        margin-left: 0;
    }
    dt { 
        margin-bottom: 5px;
    }
    .full-profile hr { 
        display: none;
    }
}

@media (max-width: $screen-xs-max) {
    .section-name {
        background-color: #efefef;
        margin: 0 0 20px;
        padding: 10px 15px;
        .block-title { 
            margin-bottom: 0; 
            padding-right: 50px;
        }
    }   
}

@media (max-width: 480px) {
    .section-name {
        margin: 0 -15px 20px;
    }
}

// News list
// .news-item {
//  overflow: hidden;
//  padding-bottom: 45px;
//  margin-bottom: 45px;
//  border-bottom: 1px solid #e5e5e5;
//  .title { 
//      margin: 0;
//  }
//  .date { 
//      color: #666; 
//      margin-top: 5px;
//  }
//  .description { 
//      margin-top: 10px;
//  }
//  .group-info { 
//      margin-left: 200px;
//  }
//  .thumbnail { 
//      width: 160px; 
//      float: left;
//  }
//  &:last-child { 
//      margin-bottom: 30px;
//  }
// }
// .tag-group { 
//  margin-top: 20px;
// }
// .tag { 
//  display: inline-block;
//  position: relative;
//  margin: 0 30px 5px 0;
// }
// .tag a:before, 
// .tag span:before {
//  content: '\00a0';
//  width: 0;
//  height: 0;
//  border-top: 15px solid transparent;
//  border-bottom: 15px solid transparent;
//  border-left: 14px solid #efe9e1;
//  position: absolute;
//  right: -14px;
//  top: 0;
// }
// .tag a:after, 
// .tag span:after {
//  content: '\00a0';
//  width: 6px;
//  height: 6px;
//  border-radius: 3px;
//  background-color: #fff;
//  position: absolute;
//  right: -5px;
//  top: 12px;
// }
// .tag a {
//  display: inline-block;
//  padding: 5px 10px;
//  background-color: #efe9e1;
//  height: 30px;
//  position: relative;
//  color: #666;
//  @include box-sizing(border-box);
//  &:hover, 
//  &:focus, 
//  &:active, 
//  &.active {
//      text-decoration: none;
//      background-color: #E7E2DD;
//      &:before { 
//          border-top: 15px solid transparent;
//          border-bottom: 15px solid transparent;
//          border-left: 14px solid #E7E2DD;
//      }
//  }
// }

// .tag .tag-item {
//  display: inline-block;
//  padding: 5px 10px;
//  background-color: #efe9e1;
//  height: 30px;
//  position: relative;
//  color: #666;
//  @include box-sizing(border-box);
// }

// .tag-wrapper {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  display: block;
//  max-width: 210px;
    
// }

@media (max-width: $screen-xs-max) {
    .news-item .group-info { 
        margin-left: 180px;
    }
}

@media (max-width: 480px){
    .news-item {
        .thumbnail { 
            max-width: 120px;
        }
    }
}

@media (max-width: 320px) {
    .news-item {
        .thumbnail { 
            width: 100%; 
            float: none; 
            max-width: initial;
        }
        .group-info { 
            margin: 20px 0 0;
        }
    }
}


// Block Event

.block-knowledge-list {
    .item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }
    .title { 
        margin-bottom: 0;
    }
}

@media (max-width: $screen-xs-max) {
    .block-knowledge-list {
        .item {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }
}

// Article-wrapper 
.article-wrapper {
    .page-title {
        font-size: 18px; 
        margin: 10px 0 0;
    }
    .date { 
        margin: 10px 0 30px;
    }
    .feature-image { 
        margin: 0 0 30px;
    }
    .tag-group { 
        margin-top: 70px;
    }
    .content-type {
        text-transform: uppercase;
        font-size: 13px;
        color: #AAA;
    }
    .content a, .block-content a {
        color: #A46F17;
    }
    .description {
        font-size: 15px;
        line-height: 25px;
        font-weight: 100;

        p {
            margin-bottom: 25px;
        }
    }
}

.article-wrapper .description.-job {
    font-size: 1em;
}


// Link
.overview {
    .about a {
        color: #A46F17;   
    }
}
.overview-about {
    a {
        color: #A46F17;      
    }
}

.block-news-other {
    .item {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }
    .description {
        margin-top: 20px;
    }
}

.block-update {
    margin-top: 30px;
    .item-list { 
        margin-top: 40px;
    }
}

// Type of need
.type-of-type-of-need {
    font-family: $kanit-medium;
    margin: 0 0 5px;
}

// followers list
.followers-item {
    position: relative;
    overflow: hidden;
    .group-info { 
        margin-left: 80px;
        padding-right: 130px;
    }
    h3 { 
        margin-top: 0;
    }
    .description {
        font-family: $kanit-light;
        font-size: 14px;
    }
    .country:before { content: none;}
    .country { color: #999; font-size: 13px;}
}

.btn-follow-wrapper {
    position: absolute;
    top: 10px;
    right: 0;
}

@media (max-width: 420px) {
    .btn-follow-wrapper { 
        position: static;
        margin: 10px 0 0 80px;
    }
    .followers-item .group-info { padding: 0;}
}

// Page Error
.error-page {
    color: #ddd;
    text-align: center;
    margin-bottom: 80px;
    .page-title { font-size: 50px;}
    .description { color: #ccc; font-size: 18px; letter-spacing: 1px;}
    .btn {
        @extend .btn-primary; 
        text-transform: uppercase;
    }
}
.big-text {
    font-size: 110px;
    font-family: $kanit-bold;
    text-transform: uppercase;
}
.error-number {
    font-size: 270px;
    line-height: 190px;
    margin: 50px 0 20px;
    &.icon-tools {
        font-size: 190px;
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .error-page {
        .page-title { font-size: 30px;}
        .btn { margin-top: 10px; display: inline-block;}
    }
    .big-text { font-size: 50px;}
    .error-number { font-size:100px; line-height: 80px;}
    .error-number.icon-tools { font-size: 100px;}
}

.job-detail {
    .title-detail {
        color: #666;
        font-weight: normal;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .item-list-inline { color: #333;}
}

.detail-wrapper { margin-bottom: 40px;}

.about-job {
    overflow: hidden;
    > .ico-edit { margin-bottom: 10px;}
    .title { 
        margin: 0 0 5px;
        line-height: 32px;
        padding-top: 3px;
    }
    .description.-job > .job-type:before {
        content: none;
    }
}
.btn-apply-wrapper {
    margin-top: 8px;
}

@media (max-width: $screen-xs-max) {
    .btn-apply-wrapper {
        margin-top: 10px;
        text-align: left;
        overflow: hidden;
    }    
}

.btn-edit-wrapper {
    .btn { margin-top: -20px;}
}

@media (max-width: $screen-xs-max) {
    .btn-edit-wrapper .btn {
        margin-top: 0;
    }    
}

.job-summary {
    margin-bottom: 50px;
}

@media (max-width: $screen-xs-max) {
    .detail-wrapper > .detail { padding: 0;}
    .about-job {
        margin-bottom: 1em;
    }
}

.job-detail-sidebar {
    .position { font-size: 13px;}
    .item-list li { margin-bottom: 10px;}
}

.no-login-job {
    .item-job {
        padding: 0 0 30px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
    }
}

// block se in focus
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .block-feature.se-focus .party-item .thumbnail { height: 175px;}
}

@media (max-width: $screen-xs-max) {
    .block-feature.se-focus .party-item .thumbnail { height: 155px;}
}

@media (max-width: 640px) {
    .block-feature.se-focus .party-item .thumbnail { height: auto;}
}





/* --------------------------- *\
    overviewoverview__description
\* --------------------------- */

.overview-about {
    > .-summary  {
        font-family: $kanit-extra-light;
        font-size: 35px;
    }
    .content.-description {
        font-size: 17px;
        line-height: 27px;
        word-break: break-all;
    }
    .content.-description p {
        margin-bottom: 25px;
    }
}

.overview {
    > .block hr {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

/* --------------------------- *\
              Event
\* --------------------------- */
.block-event {
    .block-title {
        font-size: 30px;
        margin-bottom: 70px;
        @media (max-width: $screen-xs-max) {
            margin-bottom: 20px;
            padding-bottom: 20px; 
            border-bottom: 1px solid $border-grey-color;      
        }
    }

    &.-past-event{
        // background-color: #fff;

        &:before {

        }
    }
}

.full-height-inner{
    background-color: #fff;
    padding: 80px 40px 90px;
    // padding: 80px 40px 150px;
    margin: -80px 0;
    min-height: 600px;

    @media (width: 768px) {
        margin-bottom: 0;
    }    

    @media (max-width: 990px) {
        // margin-bottom: -80px;
    }
}

@media (max-width: $screen-xs-max) {
    .full-height-inner {
        padding: 20px;
        margin: 20px 0;
        border: 1px solid $border-grey-color;  
        min-height: initial;
    }
}

.event-list {
    > .event-item {
        padding-bottom: 20px;
        border-bottom: 1px solid $border-grey-color;
        margin-bottom: 20px
    }
}

.event-period {
    > .month {
        padding-bottom: 10px;
        border-bottom: 2px solid $border-grey-color;
        margin-bottom: 20px;
    }
}

.event-date {
    > .bigdate { font-size: 50px;}
}

.article-info {
    > .title { 
        font-size: 20px; 
        margin: 0 0 15px; 
        line-height: 28px; 
    }
    > .place { 
        color: $font-desc-color--secondary; 
        font-size: 13px;
        margin: 5px 0 0;
        line-height: 1.6em;
    }
    > .tag-list { margin-top: 10px; margin-bottom: 10px; margin-left: 0;}
    > .tag-list .item { padding-right: 0;}
}

.source-url a { color: #A06C2E;}

.date-period {
    > .date { 
        // @extend .kanit-light;
        // color: $font-body-color;
        color: #777;
        font-size: 13px;
        margin: 5px 0 0;
    }
    > .time {
        margin-top: 5px;
        color: #777;
        font-size: 13px;
    }
}

.tag-list {
    .tag-item {
        color: $font-desc-color--secondary;
        font-size: 12px;
        display: inline-block;
        margin: 0 5px 5px 0;
    }
}

.tag-party-list {
    .item > a { text-decoration: underline;}
}

.sidebar-left .article-info {
    .page-title { 
        margin: 0 0 25px;
        line-height: 1.2em;
        font-size: 28px;

        @media (max-width: $screen-xs-max) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    .tag-list {
        margin-top: 25px;
    }
}


/* --------------------------- *\
            Past Event
\* --------------------------- */

.block-pastevent {
    .block-title {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #c7c7c7;
    }
    .article-info .title { font-size: 18px; line-height: 24px; }
    .event-list > .event-item { 
        border-color: #c7c7c7;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .date-period > .date { margin: 0;}
    .time-ago {
        @extend .kanit-extralight;
        color: $font-date-color;
        font-size: 14px;
    }
}





/* --------------------------- *\
      Block:  Latest Sidebar
\* --------------------------- */
.block-sidebar .item-happening {
    .update-action {
        @extend .kanit-regular;
        font-size: 16px;
        line-height: 22px;
    }
    .time-update {
        margin-bottom: 3px;
        font-size: 12px;
    }
}

.update-action {
    a { text-decoration: underline;}
    strong { font-weight: 100;}
}