{% extends 'base_sidebar.html' %}
{% load common_tags %}
{% load i18n %}
{% load static %}
{% load relation_tags %}
{% load thumbnail files_widget_tags %}

{% block title %}{{ instance.get_display_name }}{% endblock %}
{% block description %}{{ instance.occupation|striptags }} {{ instance.summary|striptags }} {{ instance.description|striptags }}{% endblock %}
{% block image %}{% spaceless %}
    {% if instance.image.url %}
        {% thumbnail instance.image|unquote '260x260' upscale=True crop='center' format=instance.image|thumbnail_format as thumb %}
            {{ thumb.url }}
        {% endthumbnail %}
    {% endif %}
{% endspaceless %}{% endblock %}

{% block search_index_text %}{{ instance|get_search_text|safe }}{% endblock %}

{% block title_class %} hidden{% endblock %}

{% block wrapper_class %} wrapper--detail{% endblock %}

{% block content_class %} detail organize bg-white bg-white-wrapper{% endblock %}

{% block link_back %} <a class="back-link" ng-href="/organization/startup/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Supporting Organizations</a>{% endblock %}

{% block breadcrumb %}
    <a href="{% url 'people_list' %}" class="link-breadcrumb">People</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var username = '{{ username }}';
    var people_id = {{ people_id }};
    var params_query = '{{ params_query }}';
</script>
{#<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=crosalot"></script>#}
{% endblock %}
{% block main_extra %} ng-clock ng-controller="PeopleDetailController"{% endblock %}
{% block primary %}

<!-- Block Primary -->
<alert id="alert_contact" ng-show="alert['message'].show" type="{[{alert['message'].type}]}" close="alert['message'].show = !alert['message'].show" ng-clock>{[{alert['message'].msg}]}</alert>
<div class="row block-primary">
    {% if user.is_authenticated %}
    <a ng-if="people.can_edit" ng-href="/people/{[{ people_id }]}/edit/" class="btn btn-default btn-xs pull-right ico-edit">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </a>
    {% endif %}
    <div class="col-md-12 primary-party ">
        <div class="row">
            <div class="col-md-7 col-xs-8 block-personal">
                <div class="primary-info">
                    <div class="small-logo pull-left thumbnail">
                        <span>
                            <img ng-src="{[{ people.get_thumbnail_in_primary }]}" />
                        </span>
                    </div>
                    <div class="group-info">
                        <h2 class="title" ng-cloak>
                            {[{ people.get_display_name }]}
                        </h2>

                        <div class="description" ng-cloak ng-bind="people.get_summary">
                        </div>

                        <div ng-if="people.user_roles.length" class="sub-description">
                            <ul class="user-role-list item-list item-list-inline item-list-zen">
                                <li class="user-role-item item" ng-repeat="user_role in people.user_roles">
                                    <span class="user_role" ng-cloak>{[{ user_role.title }]}</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% if logged_in_party != people_id %}
            <div class="col-md-5 col-xs-4 block-follow">
                <div class="action-panel">
                    <div love-button party="people" template="love_compact_button.html"></div>
                    <div follow-button party="people" template="follow_compact_button.html"></div>
                    <div class="take-action-wrapper" ng-class="hide_self_class()">
                        <a class="btn-activity" message-popup>
                            <span class="icostartup icon-contact"></span>
                            <span class="text-action">Message</span>
                        </a>
                    </div>
                </div>
                <div class="like-count text-right" ng-cloak>
                    <a href="" title="Who love this" ng-click="modal_love_list()" ng-cloak>{[{ people.total_love | number:0 }]}</a> Love{[{people.total_love > 1 ? 's' : ''}]}
                </div>
                <div class="block-social">
                    <div class="outlink pull-right">
                        <ul class="social pull-right">
                            <li ng-if="people.facebook_url"><a ng-href="{[{ people.facebook_url }]}" class="icon-social icon-facebook" target="_blank"></a></li>
                            <li ng-if="!people.facebook_url"><span class="icon-social icon-facebook no-link"></span></li>

                            <li ng-if="people.twitter_url"><a ng-href="{[{ people.twitter_url }]}" class="icon-social icon-twitter" target="_blank"></a></li>
                            <li ng-if="!people.twitter_url"><span class="icon-social icon-twitter no-link"></span></li>

                            <li ng-if="people.linkedin_url"><a ng-href="{[{ people.linkedin_url }]}" class="icon-social icon-linkedin" target="_blank"></a></li>
                            <li ng-if="!people.linkedin_url"><span class="icon-social icon-linkedin no-link"></span></li>
                        </ul>
                        <div class="website pull-right" ng-if="people.homepage_url">
                            <a ng-href="{[{ people.homepage_url }]}" class="homepage" target="_blank" ng-cloak>{[{ people.homepage_url }]}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- End Block Primary -->


<!-- Nav tabs Party -->
<ul class="nav nav-tabs nav-party primary-tab hidden-xs clearfix" ng-controller="FollowerParamController">
  <li><a href="##overview" id="overview" ng-click="selected_tab(1)" ng-class="tab_list_active_class(1)">Overview</a></li>
  <li><a href="##happening" id="happening" ng-click="selected_tab(2)" ng-class="tab_list_active_class(2)">Happening</a></li>
  <li><a href="##followers" id="followers" ng-click="selected_tab(3)" ng-class="tab_list_active_class(3)">Followers&nbsp;<span class="label label-grey" ng-cloak>{[{FollowerService.total_followers}]}</span></a></li>
  {% if not HIDE_FOLLOWING %}
  <li><a href="##followings" id="followings" ng-click="selected_tab(4)" ng-class="tab_list_active_class(4)">Following&nbsp;<span class="label label-grey" ng-cloak>{[{FollowerService.total_following}]}</span></a></li>
  {% endif %}
  {% if not HIDE_TESTIMONIAL %}
  <li><a href="##testimonials" id="testimonials" ng-click="selected_tab(5)" ng-class="tab_list_active_class(5)">Testimonials&nbsp;<span class="label label-grey" ng-cloak>{[{people.total_testify}]}</span></a></li>
  {% endif %}
</ul>

<div class="dropdown primary-tab visible-xs dropdown-tab-square " ng-controller="FollowerParamController">
    <a href="" id="party-tab-drop" class="dropdown-toggle btn btn-default"><span class="text">Overview</span> <span class="caret pull-right"></span></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="party-tab-drop">
        <li><a href="" ng-click="selected_tab(1)" ng-class="tab_list_active_class(1)">Overview</a></li>
        <li><a href="" ng-click="selected_tab(2)" ng-class="tab_list_active_class(2)">Happening</a></li>
        <li><a href="" ng-click="selected_tab(3)" ng-class="tab_list_active_class(3)">Followers&nbsp;<span class="label label-grey">{[{FollowerService.total_followers}]}</span></a></li>
        {% if not HIDE_FOLLOWING %}
        <li><a href="" ng-click="selected_tab(4)" ng-class="tab_list_active_class(4)">Following&nbsp;<span class="label label-grey">{[{FollowerService.total_following}]}</span></a></li>
        {% endif %}
        {% if not HIDE_TESTIMONIAL %}
        <li><a href="" ng-click="selected_tab(5)" ng-class="tab_list_active_class(5)">Testimonials&nbsp;<span class="label label-grey" ng-clock>{[{people.total_testify}]}</span></a></li>
        {% endif %}
    </ul>
</div>
<!-- End Nav Party -->

{% endblock %}

{% block content %}
<div class="overview" ng-class="tab_active_class(1)">
    <!-- Block-Experience -->
    <div ng-if="people.description" class="block block-experience">
        <h2 class="block-title">About</h2>
        <div class="about" ng-bind-html="people.description | sanitize">
        </div>
        <hr />
    </div><!-- End Block About -->

    <div ng-if="people.skills" class="block block-experience">
        <h2 class="block-title">Skills</h2>
        {[{ people.skills }]}
        <hr />
    </div><!-- End Block About -->

    <!-- Block has people-->
    <div class="block block-people" ng-controller="BasicPartyListController" ng-init="init('/api/v1/organization_has_people/', {dst: people_id, limit: 1000}, '-id', 'src', ['REQUIRED_APPROVAL', 'status', 'start_date', 'end_date', 'title', 'get_summary'])" ng-class="should_show_list_class()">
        <h2 class="block-title">Work at organizations</h2>
        <ul class="item-list experience-list">
            <li ng-repeat="party in party_list" class="experience-item listview-item item">
                <div ng-include="'experience_item.html'"></div>
            </li>
        </ul>
        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img  ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <hr />
    </div>
    <!-- End block has people -->

    <div class="block block-experience" ng-controller="BasicPartyListController" ng-init="init('/api/v1/user_experience_organization/', {src: people_id, limit: 4, offset: 0}, '', 'dst', ['REQUIRED_APPROVAL', 'status', 'start_date', 'end_date', 'title', 'get_summary'])" ng-class="should_show_list_class()">
        <h2 class="block-title">Experience</h2>
        <ul class="item-list experience-list">
            <li ng-repeat="party in party_list" class="experience-item listview-item item">
                <div ng-include="'experience_item.html'"></div>

            </li>
        </ul>
        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img  ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <hr />
    </div>


    <!-- Block Portfolio -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/portfolio', { party_portfolios: people_id, limit: 6}, '-ordering')" class="block block-portfolio block-col-3" ng-class="should_show_list_class()">

        <h2 class="block-title">Portfolio</h2>
        <ul class="row item-list portfolio-list">
            <li ng-repeat="party in party_list"  class="col-md-4 col-xs-6 porfolio-item item" ng-class="party.item_class_row_three()">
                <div ng-include="'template_party_item_style_default_2.html'"></div>
            </li>
        </ul>
        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <hr />
    </div><!-- End Block Portfolio -->

    <!-- Block give support -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/party_support_party/', {src: people_id, limit: 6}, '-id', 'dst', ['REQUIRED_APPROVAL', 'status'])" class="block block-support list-view" ng-class="should_show_list_class()">

        <h2 class="block-title">Give Support to</h2>
        <ul class="item-list support-list">
            <li class="support-item item" ng-repeat="party in party_list">
                <div ng-include="'template_party_item_style_default_small.html'"></div>
            </li>
        </ul>

        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <hr />
    </div>
    <!-- End block give support to -->


    <!-- Block Invest to -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/party_invest_party/', {src: people_id, limit: 6}, 'id', 'dst', ['REQUIRED_APPROVAL', 'status'])" class="block block-support list-view" ng-class="should_show_list_class()">

        <h2 class="block-title">Invest to</h2>
        <ul class="item-list support-list">
            <li class="support-item item" ng-repeat="party in party_list">
                <div ng-include="'template_party_item_style_default_small.html'"></div>
            </li>
        </ul>

        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <hr />
    </div>
    <!-- End block Invest to -->

</div>

<div class="happening block-happening-detail" ng-class="tab_active_class(2)">
    <!-- Block Happening -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/happening/', { limit: 5, offset: 0, unpublished: true, receiver_or_actor: people_id })" class="">
        <h2 class="block-title">Happening</h2>
        <div ng-show="!is_loading && party_list.length == 0">Nothing happen.</div>
        <ul class="item-list happen-list">
            <li class="row item" ng-repeat="party in party_list" ng-include="'happening_list_full.html'">
            </li>
        </ul>
        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img  ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
    </div>
    <hr />
    <!-- End block Happening -->
</div>

<div class="followers" ng-class="tab_active_class(3)">
    <!-- Block Followers -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/party_follow_party/', {dst: people_id, limit: 10, status: 1, is_followers: true, status: 1}, '-id', 'src')" class="block block-followers-list-view" ng-class="should_show_list_class()">

        <h2 class="block-title" >Followers</h2>
        <ul class="item-list followers-list">
            <li ng-repeat="relation in party_list" class="followers-item listview-item item {[{ relation.inst_type }]}-image">
                <div class="list-view">
                    <div class="small-logo pull-left thumbnail">
                        <span>
                           <a ng-href="{[{ relation.absolute_url }]}"><img ng-src="{[{ relation.get_thumbnail_in_primary }]}"></a>
                        </span>
                    </div>
                    <div class="group-info" >
                        <h3><a ng-href="{[{ relation.absolute_url }]}" ng-cloak>{[{ relation.get_display_name }]}</a></h3>
                        <div class="description" ng-cloak>{[{ relation.get_summary }]}</div>
                        <ul ng-if="relation.country" class="country-list item-list item-list-inline">
                            <li class="country-item item" ng-cloak>
                                <span class="country">{[{ relation.country.title }]}</span>
                            </li>
                        </ul>
                    </div>
                    <div follow-button party="relation" template="follow_text_button.html"></div>
                </div>
            </li>

        </ul>
        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img  ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <!-- End block give support to -->
    </div>
    <hr />
</div>

{% if not HIDE_FOLLOWING %}
<div class="followers followings" ng-class="tab_active_class(4)">
    <!-- Block Following -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/party_follow_party/', {src: people_id, limit: 10, is_following: true, status: 1}, '-id', 'dst')" class="block block-followers-list-view" ng-class="should_show_list_class()">

        <h2 class="block-title" >Following</h2>
        <ul class="item-list followers-list">
            <li ng-repeat="relation in party_list" class="followers-item listview-item item {[{ relation.inst_type }]}-image">
                <div class="list-view">
                    <div class="small-logo pull-left thumbnail">
                        <span>
                           <a ng-href="{[{ relation.absolute_url }]}"><img ng-src="{[{ relation.get_thumbnail_in_primary }]}"></a>
                        </span>
                    </div>
                    <div class="group-info" >
                         <h3><a ng-href="{[{ relation.absolute_url }]}" ng-cloak>{[{ relation.get_display_name }]}</a></h3>
                        <div class="description" ng-cloak>{[{ relation.get_summary }]}</div>
                        <ul ng-if="relation.country" class="country-list item-list item-list-inline">
                            <li class="country-item item" ng-cloak>
                                <span class="country" ng-cloak>{[{ relation.country.title }]}</span>
                            </li>
                        </ul>
                    </div>
                    <div follow-button party="relation" template="follow_text_button.html"></div>
                </div>
            </li>

        </ul>
        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img  ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>
        <!-- End block give support to -->
    </div>
    <hr />
</div>
{% endif %}

{% if not HIDE_TESTIMONIAL %}
<div class="testimonials" ng-class="tab_active_class(5)">

    {% if user.is_authenticated %}

    <alert id="alert_testimonials" ng-show="alert['testimonials'].show" type="{[{alert['testimonials'].type}]}" close="alert['testimonials'].show = !alert['testimonials'].show" ng-cloak>{[{alert['testimonials'].msg}]}</alert>

    <form 
        role="form" 
        ng-submit=
        "http_to_api_with_party({
            api: '/api/v1/party_testify_party/', 
            party: people, 
            params: {dst: people.party_resource_uri, data: testimonials},
            update_total: 'total_testify',
            model_name: 'testimonials',
            reload_when_done: true,
            type: 'POST',
        })" 
        novalidate 
        class="form-testimonial"
        ng-class="hide_self_class()"
        ng-show="people.get_display_name">
        <div>
            <label ng-clock>Give {[{ people.get_display_name }]} a testimonial</label>
            <img ng-show="is_posting" ng-src="/static/images/loading.gif" class="loading-icon">
        </div>
        <textarea class="form-control" rows="5" name="testimonials" ng-model="testimonials" required></textarea>
        <button type="submit" class="btn btn-primary btn-post btn-pink">Send</button>
        <a class="invite-link" data-target="#modal-invite" data-toggle="modal">Invite a friend to write  testimonial <span class="icon-bubble"></span></a>

    </form>
    {% else %}

    <a class="btn btn-primary btn-pink btn-post btn-no-bg" data-target="#modal-login" data-toggle="modal" ng-clock ng-if="people.get_display_name">Write a testimonial <span class="icon-bubble"></span></a>

    <a href="" class="btn btn-primary btn-pink btn-invite btn-no-bg" data-target="#modal-invite" data-toggle="modal">Invite a friend <span class="icon-mail2"></span></a>
    {% endif %}

    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/party_testify_party/', { dst: people_id, limit: 6, status: 1, offset: 0 }, '', 'src', ['data', 'can_edit', 'id'])" class="block block-testimonial">
        <h2 class="block-title">Testimonials</h2>
        <div ng-show="!is_loading && party_list.length == 0">Become the first to write a testimonial for {[{ people.get_display_name }]}.</div>
        <ul class="item-list event-list">
            <li ng-repeat="party in party_list" class="item testimonial-item" ng-clock>
                <div ng-include="'testimonials_list.html'"></div>
            </li>
        </ul>

        <a class="loadmore-wrapper" ng-click="load_more()" ng-class="load_more_class()" ng-class="should_show_list_class()">
            <span ng-hide="is_loading" class="loadmore">Load more</span>
            <img ng-show="is_loading" ng-src="/static/images/loading.gif" class="loading-icon" >
        </a>

    </div>
</div>
<!-- End block Organization -->
{% endif %}

{% endblock %}

        <!-- Sidebar right-->
{% block sidebar %}
<div ng-class="tab_list_active_class(1) || tab_list_active_class(2) || tab_list_active_class(3) || tab_active_class(4)">

    <div class="block block-sidebar block-topic" ng-if="people.interests.length" id="block-topic-list">
        <h2 class="block-title">{% trans "Interests" %}</h2>
        <div class="block-content">
            <ul class="list-unstyled list-topic" ng-class="{'field-expand-able': !people.interestsExpland && people.interestsHeight>240 }" report-my-height height="people.interestsHeight">
                <li ng-repeat="topic in people.interests" class="item" ng-class="{'level-{[{topic.level}]}' : 1}">
                    <span class="topics m2m-tag" ng-clock>
                        <a ng-href="/people/browse/#?interests__permalink={[{ topic.permalink }]}">{[{ topic.title }]}</a>
                    </span>
                </li>
            </ul>

            <a class="field-expand-link" ng-click="people.interestsExpland=true" ng-if="!people.interestsExpland && people.interestsHeight>240">{% trans "expand" %} <span class="caret"></span></a>
        </div>
        <hr />
    </div>

    {% if user.is_authenticated and user.id|to_int == people_id|to_int %}
    <div ng-controller="BasicPartyListController"  ng-init="init('/api/v1/job/search/', { limit: 3, q: params_query })">
        <div class="block block-sidebar block-job -sidebar -suggestion" ng-if="party_list.length">
            <div class="suggestion-wrapper">
                <h2 class="block-title">Jobs Suggestion</h2>
                <div class="block-content">
                    <ul class="item-list">
                        <li class="item item-job" ng-repeat="job in party_list">
                            <div class="org-name">{[{ job.organization_jobs[0].get_display_name }]}</div>
                            <div ng-include="'job_list.html'"></div>
                        </li>
                    </ul>
                </div>
                <!-- <a class="close" href="">x</a> -->
            </div>
        </div>
    </div><!-- End Block Job -->
    {%  endif %}

    <!-- Block Testiminial -->
    <div ng-controller="BasicPartyListController" ng-init="init('/api/v1/party_testify_party/', { dst: people_id, limit: 1, status: 1, offset: 0, status: 1 }, '', 'src', ['data'])" class="block block-sidebar block-testimonial" ng-class="should_show_list_class()">
        <h2 class="block-title">Testimonials</h2>
        <img ng-show="is_loading && party_list.length == 0" ng-src="/static/images/loading.gif" class="loading-icon">
        
        <div ng-show="!is_loading && party_list.length == 0">No testimonials</div>

        <div ng-repeat="party in party_list" class="" ng-clock ng-include="'testimonials_list.html'"></div>
        <a class="viewall" ng-click="selected_tab(5)" href="##testimonials" ng-show="party_list.length != 0">View all</a>
        <hr />
    </div><!-- End Block Testiminial -->

</div>
<!-- 
<div ng-class="tab_active_class(2)">
    <div ng-if="people.interests.length" class="block block-sidebar block-interesting">
        <h2 class="block-title">Interest</h2>
        <ul class="interesting-list item-list bullet">
            <li class="interesting-item item" ng-repeat="interest in people.interests">
                <h3 class="title">{[{ interest.title }]}</h3>
            </li>
        </ul>
    </div>
</div>
<div ng-class="tab_active_class(3)">
    <div ng-if="people.interests.length" class="block block-sidebar block-interesting">
        <h2 class="block-title">Interest</h2>
        <ul class="interesting-list item-list bullet">
            <li class="interesting-item item" ng-repeat="interest in people.interests">
                <h3 class="title">{[{ interest.title }]}</h3>
            </li>
        </ul>
    </div>
</div>
<div ng-class="tab_active_class(4)">
    <div ng-if="people.interests.length" class="block block-sidebar block-interesting">
        <h2 class="block-title">Interest</h2>
        <ul class="interesting-list item-list bullet">
            <li class="interesting-item item" ng-repeat="interest in people.interests">
                <h3 class="title">{[{ interest.title }]}</h3>
            </li>
        </ul>
    </div>
</div>
 -->
<div ng-class="tab_active_class(5)">
    <div ng-if="people.interests.length" class="block block-sidebar block-interesting">
        <h2 class="block-title">Interest</h2>
        <ul class="interesting-list item-list bullet">
            <li class="interesting-item item" ng-repeat="interest in people.interests">
                <h3 class="title" ng-cloak>{[{ interest.title }]}</h3>
            </li>
        </ul>
    </div>
    <hr />
    <!-- End Block Interesting -->
</div>

{% endblock %}

{% block modal %}

<!-- Contact modal -->
<div class="modal fade" id="modal-message" tabindex="-1" >
    <div class="modal-dialog contact-popup base-action-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button"><span>&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="model-contact-label" >{% trans 'Message' %}</h2>
            </div>
            <div class="modal-body">

                {% if user.is_authenticated %}

                <form
                        role="form"
                        ng-submit="
                            http_to_api_with_party({
                                api: '/api/v1/party_contact_party/',
                                party: people,
                                params: {dst: people.party_resource_uri, data: message},
                                update_total: 'total_contact',
                                model_name: 'message',
                                hide_modal: true,
                                type: 'POST',
                            })"
                        novalidate
                        class="form-contact">
                    <div>
                        <label ng-cloak>Leave a message for {[{ people.get_display_name }]}</label>
                        <img ng-show="is_post_contact" ng-src="/static/images/loading.gif" class="loading-icon">
                    </div>
                    <textarea class="form-control" rows="5" name="message" ng-model="message" required ></textarea>
                    <button type="submit" class="btn btn-primary -big">{% trans "Send" %}</button>

                </form>
                {% else %}

                <a data-target="#modal-login" data-toggle="modal" ng-cloak> Please login before leave a message for {[{ people.get_display_name }]}</a>

                {% endif %}
            </div>

        </div>
    </div>
</div>

<!-- Invite testimonial modal -->
<div class="modal fade" id="modal-invite" tabindex="-1" >
    <div class="modal-dialog contact-popup base-action-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button"><span>&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="model-contact-label" >Invite</h2>
            </div>
            <div class="modal-body">

                <form
                        role="form"
                        ng-submit="
                            http_to_api_with_party({
                                api: '/api/v1/party_contact_party/',
                                party: people,
                                params: {dst: people.party_resource_uri, data: contact},
                                update_total: 'total_contact',
                                model_name: 'contact',
                                hide_modal: true,
                                type: 'POST',
                            })"
                        novalidate
                        class="form-contact">

                    <div>
                        <label ng-cloak>Send to email</label>
                    </div>
                    <input type="text"/>
                    <div>
                        <label ng-cloak>Message</label>
                        <img ng-show="is_post_contact" ng-src="/static/images/loading.gif" class="loading-icon">
                    </div>
                    <textarea class="form-control" rows="5" name="contact" ng-model="contact" required ></textarea>
                    <button type="submit" class="btn btn-primary -big">Send</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
