{% extends 'base_single.html' %}
{% load i18n %}
{% load staticfiles %}
{% load organization_tags %}

{% block content_class %} content-smart{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block css %}

{% endblock %}


{% block title %}
{% if form.is_new %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %} {% trans form.inst.inst_name %}
{% if not form.is_new and not request_popup %}
<a href="{% url 'job_detail' form.inst.id %}" class="btn btn-default btn-xs btn-view">
    <span class="glyphicon glyphicon-eye-open"></span> {% trans "View result" %}
</a>
{% endif %}
{% endblock %}

{% block leader%}
{% if not request_popup %}
<div class="banner -fix-full-width" style="background: url('/static/images/bg-startup-ecosystem-job.jpg') transparent no-repeat center; height: 350px; position: absolute; width: 100%; top: 0; z-index: -1;"></div>
{% endif %}
{% endblock %}

{% block content %}

<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data" id="job-form-wrapper" ng-non-bindable>
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    {% if request_popup %}
        <!-- organization unknow -->
    {% elif standalone or not organization %}
    <div class="controls form-group">
        <label for="id_organization" class="field-container control-label col-sm-3">{% trans "Select organization of your job *" %}</label>

        <div class="field-container-no-overflow field-inline-id_organization col-sm-7">

            <div class="inline-reference-container">
                <div class="inline-reference-wrapper">

                    <span class="help-block">
                        {% trans "Select organization that your created and administration." %}
                    </span>

                    {{ form.organization }}

                    {% if form.organization.errors %}
                    <div class="errors alert alert-danger">{{ form.organization.errors }}</div>
                    {% endif %}

                    <div class="inline-create-link-wrapper">
                        {% trans "or" %}
                        <a href="{% url 'organization_inline_create' %}?_inline=1&no_script=1&_win_name=id_organization&return_get_display_name=1&required_address=1&required_contact=1&type_of_organization=startup" class="add-another-inline" id="add_id_organization" target="organization_inline">
                            <span class="glyphicon glyphicon-plus"></span>
                            {% trans "Create new organization" %}
                        </a>
                    </div>
                </div>

                <div class="add-another-inline-input-list" id="organization_inline">

                </div>
            </div>
        </div>
    </div>
    {% elif not request_popup %}
    <div class="controls form-group">
        <label class="col-sm-3 control-label">{% trans "Organization" %}</label>
        <div class="col-sm-7 owner-detail-wrapper">
            <a href="{{ organization.get_absolute_url }}" class="owner-img" title="{{ organization.get_display_name }}">
                <img src="{{ organization.get_thumbnail_in_primary }}" alt="{{ organization.get_display_name }}"/>
            </a>
            <a href="{{ organization.get_absolute_url }}" title="{{ organization.get_display_name }}" class="owner-title">
                {{ organization.get_display_name }}
            </a>
        </div>
    </div>
    <br/>

    {% endif %}

    <div class="controls form-group">
        <label for="id_title" class="col-sm-3 control-label">{% trans "Title" %} *</label>
        <div class="col-sm-7">
            <input id="id_title" name="title" type="text" class="form-control" value="{{ form.title.value|default_if_none:"" }}" required>
            {% if form.title.errors %}
            <div class="errors alert alert-danger">{{ form.title.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_description" class="col-sm-3 control-label">{% trans "Description" %}</label>
        <div class="col-sm-7">
            {{ form.description }}
            {% if form.description.errors %}
            <div class="errors alert alert-danger">{{ form.description.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_position" class="col-sm-3 control-label">{% trans "Type of Position" %} *</label>
        <div class="col-sm-7">
            {{ form.position }}

            {% if form.position.errors %}
            <div class="errors alert alert-danger">{{ form.position.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group -job-primary-role">
        <label for="id_job_primary_role" class="col-sm-3 control-label">Primary Role *</label>
        <div class="col-sm-7">
            {{ form.job_primary_role }}

            {% if not form.job_roles.value or form.job_roles.value|length == 0 %}
            <div>
                <a class="btn btn-link" id="add-another-job-roles">Add another role</a>
            </div>
            {% endif %}

            {% if form.job_primary_role.errors %}
            <div class="errors alert alert-danger">{{ form.job_primary_role.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div id="another-job-roles-wrapper" class="controls form-group -job-roles" {% if not form.job_roles.value or form.job_roles.value|length == 0 %}style="display: none"{% endif %}>
        <label for="id_job_roles" class="col-sm-3 control-label">Other Roles</label>
        <div class="col-sm-7 checkbox">
            <ul>
                {% for job_role in form.job_roles %}
                <li>
                    <span class="choice-item">
                        {{ job_role.tag }}
                        <label for="id_job_roles_{{ job_role.index }}">{{ job_role.choice_label }}</label>
                    </span>
                </li>
                {% endfor %}
            </ul>

            {% if form.job_roles.errors %}
            <div class="errors alert alert-danger">{{ form.job_roles.errors }}</div>
            {% endif %}
        </div>
    </div>


    <br />
    <hr />
    <br />


    <div class="controls form-group">
        <label for="id_years_of_experience" class="col-sm-3 control-label">{% trans "Work Experience" %}</label>
        <div class="col-sm-7">
            {{ form.years_of_experience }}
            {% if form.years_of_experience.errors %}
            <div class="errors alert alert-danger">{{ form.years_of_experience.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group -locations">
        <label for="id_locations" class="col-sm-3 control-label">Locations</label>
        <div class="col-sm-7 checkbox">
            <ul>
                {% for location in form.locations %}
                <li>
                    <span class="choice-item">
                        {{ location.tag }}
                        <label for="id_locations_{{ location.index }}">{{ location.choice_label }}</label>
                    </span>
                </li>
                {% endfor %}
            </ul>

            {% if form.locations.errors %}
            <div class="errors alert alert-danger">{{ form.locations.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_skills" class="col-sm-3 control-label">{% trans "Skills" %}</label>
        <div class="col-sm-7">

            <span class="help-block">
                {% trans "Separate by comma, space, tab or enter" %}<br/>
                Ex: golang, php, python, illustrator, sketch, microsoft word, microsoft excel
            </span>
            {{ form.skills }}

            {% if form.skills.errors %}
            <div class="errors alert alert-danger">{{ form.skills.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_remote" class="col-sm-3 control-label">{% trans "Remote OK?" %}</label>
        <div class="col-sm-7">
            {% for remote in form.remote %}
                <span class="choice-item">
                    {{ remote.tag }}
                    <label for="id_remote_{{ remote.index }}">{{ remote.choice_label }}</label>
                </span>
            {% endfor %}

            {% if form.remote.errors %}
            <div class="errors alert alert-danger">{{ form.remote.errors }}</div>
            {% endif %}
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="controls form-group range-input-container">
        <label for="id_money_salary_min" class="col-sm-3 control-label">{% trans "Annual Salary Range" %}</label>
        <div class="col-sm-7">
            <div class="range-input-range-wrapper">
                <div class="range-input-range">
                    <div class="range-input-item-left">
                        <div class="range-input-item-inner">
                            <div class="field-money">
                                {{ form.money_salary_min }}
                            </div>
                            {% if form.money_salary_min.errors %}
                            <div class="errors alert alert-danger">
                                {{ form.money_salary_min.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="range-input-dash"> — </div>
                    <div class="range-input-item-right">
                        <div class="range-input-item-inner">
                            <div class="field-money">
                                {{ form.money_salary_max }}
                            </div>
                            {% if form.money_salary_max.errors %}
                            <div class="errors alert alert-danger">
                                {{ form.money_salary_max.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="controls form-group range-input-container">
        <label for="id_equity_min" class="col-sm-3 control-label">{% trans "Equity Range" %}</label>
        <div class="col-sm-7">
            <div class="range-input-range-wrapper">
                <div class="range-input-range">
                    <div class="range-input-item-left">
                        <div class="range-input-item-inner">
                            {{ form.equity_min }}
                            {% if form.equity_min.errors %}
                            <div class="errors alert alert-danger">
                                {{ form.equity_min.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="range-input-dash"> — </div>
                    <div class="range-input-item-right">
                        <div class="range-input-item-inner">
                            {{ form.equity_max }}
                            {% if form.equity_max.errors %}
                            <div class="errors alert alert-danger">
                                {{ form.equity_max.errors }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="range-input-unit"> %</div>

        </div>
    </div>

    <br />
    <hr />
    <br />



    <div class="controls form-group">
        <label for="id_contact_information" class="col-sm-3 control-label">{% trans "Contact Information" %}</label>
        <div class="col-sm-7">
            {% if not form.inst.id %}
            <span class="help-block">
            {% trans "Leave blank when contact with organization's contact." %}
            </span>
            {% endif %}
            {{ form.contact_information }}
            {% if form.contact_information.errors %}
            <div class="errors alert alert-danger">{{ form.contact_information.errors }}</div>
            {% endif %}
        </div>
    </div>


    <div class="controls form-group">
        <label for="id_status" class="col-sm-3 control-label">{% trans "Status" %}</label>
        <div class="col-sm-7">
            {% for status in form.status %}
                <span class="choice-item">
                    {{ status.tag }}
                     <label for="id_status_{{ status.index }}">{{ status.choice_label }}</label>
                </span>
            {% endfor %}

            {% if form.status.errors %}
            <div class="errors alert alert-danger">{{ form.status.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group group-action">
        <div class="col-sm-offset-3 col-sm-7 form-action">
            <button class="btn btn-primary btn-orange{% if form.is_new %} btn-submit{% endif %}" type="submit">{% if form.is_new %}{% trans "Create new" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
            {% if not request_popup %}
            <a href="{% if form.is_new %}{% url 'home' %}{% else %}.{% endif %}" class="btn btn-default btn-cancel">{% trans "Cancel" %}</a>
            {%  endif %}
            {% if request_popup %}
            <a onclick="parent.dismissAddAnotherPopup({name: '{{ request.GET.winName }}'})" class="btn btn-default btn-cancel">{% trans "Cancel" %}</a>
            {%  endif %}
        </div>
        {% if not form.is_new %}
        <a class="btn btn-md btn-delete" href="{% url 'presentation_delete' 'organization' 'Job' form.inst.id %}">
            <span class="glyphicon glyphicon-remove icostartup icon-delete"></span>
            {% trans "Delete" %}
        </a>
        {% endif %}
    </div>

</form>

<script type="text/javascript">

    setTimeout(function () {
        var salary_max_currency = document.getElementById('id_money_salary_max_1');
        var salary_min_currency = document.getElementById('id_money_salary_min_1');
        salary_max_currency.onchange = function () {
            salary_min_currency.value = salary_max_currency.value;
            salary_min_currency.dispatchEvent(new Event('change'));
        };
        salary_max_currency.onchange();


        var add_another_roles = document.getElementById('add-another-job-roles');
        if (add_another_roles) {
            add_another_roles.onclick = function () {
                add_another_roles.remove();
                var another_roles = document.getElementById('another-job-roles-wrapper');
                another_roles.style.display = 'block';
            };
        }

        var job_primary_role = document.getElementById('id_job_primary_role');
        job_primary_role.onchange = function () {
            var job_roles = document.getElementsByName('job_roles');
            for (var i=0; i<job_roles.length; i++) {
                if (job_roles[i].value == job_primary_role.value) {
                    job_roles[i].parentElement.parentElement.style.display = 'none';
                } else {
                    job_roles[i].parentElement.parentElement.style.display = 'list-item';
                }
            }

        };
        job_primary_role.onchange();

        /*
        var job_form = document.getElementById('job-form-wrapper');
        job_form.onsubmit = function () {
            var job_primary_role = document.getElementById('id_job_primary_role');
            var job_roles = document.getElementsByName('job_roles');
            for (var i=0; i<job_roles.length; i++) {
                if (job_roles[i].value == job_primary_role.value) {
                    job_roles[i].checked = true;
                    //job_roles[i].click();
                }
            }

        };
        */

    }, 1000);



    /*
    var job_primary_role = document.getElementById('id_job_primary_role');
    job_primary_role.onchange = function () {
        var job_roles = document.getElementsByName('job_roles');
        for (var i=0; i<job_roles.length; i++) {
            if (job_roles[i].value == job_primary_role.value) {
                job_roles[i].checked = false;
                job_roles[i].click();
            }
        }

    };
    */
</script>
{% endblock %}