{% extends 'base_single.html' %}

{% block content %}
<div class="container row login maintenance-mode">
  <div class="media">
    <div class="col-md-12">
      <h1 class="page-title">Site Maintenance</h1>
      <h2>เตรียมพบกับเราได้ที่นี่</h2>
      <p class="block-quote">...ตรวจสอบคำพูดบุคคลสาธารณะ บุคคลสำคัญ เพื่อประมวลผลพฤติกรรมและการกระทำของบุคคลดังกล่าวว่า<br />จริง - เท็จ - ก้ำกึ่ง หรือ ยังพิสูจน์ไม่ได้...</p>
    </div>
    <div class="col-md-12">
      <figure>
        <img src="../static/images/maintenance-mode.png" alt="maintenance">
      </figure>
    </div>
  </div>
</div>
{% endblock %}