{% extends 'base_single.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content_class %} content-smart bg-white{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block css %}

{% endblock %}


{% block title %}
{% if form.is_new %}{% trans "Create" %}{% else %}{% trans "Edit" %}{% endif %} Your Experience
{% endblock %}

{% block content %}

<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data" ng-non-bindable>
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="errors alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="controls form-group">

        <label for="id_dst" class="field-container control-label col-sm-3">{% trans "Organization" %} *</label>
        <div class="field-container-no-overflow field-inline-id_dst col-sm-7">

            <div class="inline-reference-container">
                <div class="inline-reference-wrapper">

                    {{ form.dst }}

                    <div class="inline-create-link-wrapper">
                        {% trans "or" %}
                        <span class="glyphicon glyphicon-plus icostartup icon-plus"></span>
                        <a href="{% url 'organization_inline_create' %}?_inline=1&is_mockup=1" class="add-another-inline" id="add_id_dst" target="dst_inline">
                            {% trans "Create mockup organization" %}
                        </a>
                    </div>
                </div>

                <div class="add-another-inline-input-list" id="dst_inline">

                </div>
            </div>

            {% if form.dst.errors %}
            <div class="errors alert alert-danger">{{ form.dst.errors }}</div>
            {% endif %}


        </div>
    </div>

    <div class="controls form-group">
        <label for="id_title" class="col-sm-3 control-label">{% trans "Title" %} *</label>
        <div class="col-sm-7">
            <input id="id_title" name="title" type="text" class="form-control" placeholder="CEO, Lead Developer, etc." value="{{ form.title.value|default_if_none:"" }}" required>
            {% if form.username.errors %}
            <div class="errors alert alert-danger">{{ form.title.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_description" class="col-sm-3 control-label">{% trans "Description" %}</label>
        <div class="col-sm-7">
            {{ form.description }}
            {% if form.description.errors %}
            <div class="errors alert alert-danger">{{ form.description.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_start_date" class="col-sm-3 control-label">{% trans "Start Date" %} *</label>
        <div class="col-sm-7">
            <div class="data-field-wrapper">
                {{ form.start_date }}
            </div>
            {% if form.start_date.errors %}
            <div class="errors alert alert-danger">{{ form.start_date.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <label for="id_end_date" class="col-sm-3 control-label">{% trans "End Date" %}</label>
        <div class="col-sm-7">
            <div class="data-field-wrapper">
                {{ form.end_date }}
            </div>
            {% if form.end_date.errors %}
            <div class="errors alert alert-danger">{{ form.end_date.errors }}</div>
            {% endif %}
        </div>
    </div>

    <div class="controls form-group">
        <div class="col-sm-offset-3 col-sm-7 form-action">
            <button class="btn btn-primary btn-orange{% if form.is_new %} btn-submit{% endif %}" type="submit">{% if form.is_new %}{% trans "Create new" %}{% else %}{% trans "Save changes" %}{% endif %}</button>
            {% if not request_popup %}
            <a href="{% if form.is_new %}{% url 'home' %}{% else %}.{% endif %}" class="btn btn-default btn-cancel">{% trans "Cancel" %}</a>
            {%  endif %}
            {% if request_popup %}
            <a onclick="parent.dismissAddAnotherPopup({name: '{{ request.GET.winName }}'})" class="btn btn-default btn-cancel">{% trans "Cancel" %}</a>
            {%  endif %}
        </div>


    </div>

</form>
{% endblock %}
