{% extends 'base_single.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% endblock %}

{% block title_class %} hidden{% endblock %}
{% block search_toggle_class %}{% endblock %}
{% block search_class %}{% endblock %}
{% block content_class %}{% endblock %}

{% block content %}
<!-- < Block  Meeting -->
<div ng-controller="PartyListController" ng-init="init({{ promote_list_config }}, {{ tab_list_config }})">
    <div class="block block-meeting block-feature block-col-3">
    </div>
</div>
{% endblock %}